<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocationLabel" jhiTranslate="ichooseApp.location.home.createOrEditLabel">Create or edit a Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!location.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="location.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.location.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="location.latitude" required/>
            <div [hidden]="!(editForm.controls.latitude?.dirty && editForm.controls.latitude?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.latitude?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.latitude?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.location.longitude" for="field_longitude">Logitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="location.longitude" required/>
            <div [hidden]="!(editForm.controls.longitude?.dirty && editForm.controls.longitude?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.longitude?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.longitude?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.location.streetNumber" for="field_streetNumber">Street Number</label>
            <input type="text" class="form-control" name="streetNumber" id="field_streetNumber"
                [(ngModel)]="location.streetNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.location.route" for="field_route">Route</label>
            <input type="text" class="form-control" name="route" id="field_route"
                [(ngModel)]="location.route" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.location.postalCode" for="field_postalCode">Postal Code</label>
            <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                [(ngModel)]="location.postalCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.location.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="location.country" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.location.formattedAddress" for="field_formattedAddress">Formatted Address</label>
            <input type="text" class="form-control" name="formattedAddress" id="field_formattedAddress"
                [(ngModel)]="location.formattedAddress" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
