
<div *ngIf="location">
    <h2><span jhiTranslate="ichooseApp.location.detail.title">Location</span> {{location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.location.latitude">Latitude</span></dt>
        <dd>
            <span>{{location.latitude}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.location.logitude">Logitude</span></dt>
        <dd>
            <span>{{location.logitude}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.location.streetNumber">Street Number</span></dt>
        <dd>
            <span>{{location.streetNumber}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.location.route">Route</span></dt>
        <dd>
            <span>{{location.route}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.location.postalCode">Postal Code</span></dt>
        <dd>
            <span>{{location.postalCode}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.location.country">Country</span></dt>
        <dd>
            <span>{{location.country}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.location.formattedAddress">Formatted Address</span></dt>
        <dd>
            <span>{{location.formattedAddress}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
