/* ==========================================================================
Main page styles
========================================================================== */
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}

.card-details-button{
  position: absolute;
  right: 0px;
  top: 7px;
}
.img-add{
  max-width: 100%;
  max-height: 100%;
}
.menu-detail-image{
  overflow: hidden;
  height: 40vh;
  img{
    width: 100vw;
  }
}
.mat-card{
  margin-bottom: 20px;
}
.mat-card>:last-child:not(.mat-card-footer){
  overflow: hidden;
  height: 250px;
}
.mat-card-image:first-child {
  margin-top: 0px !important;
  max-height: 100%;
  width: auto;
}
.menu-gradient-black{
  height: 40vh;
  margin-top: -40vh;
  width: 100vw;
  .menu-name{
    position: absolute;
    text-align: left;
    margin-top: 12vh;
    margin-left: 80px;
    h2{
      font-weight: 500;
      margin-bottom: 0px;
    }
    h1{
      font-size: 5vh;
      margin-top: 0px;
    }
  }
  background: rgba(0,0,0,0.82);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.82) 0%, rgba(51,51,51,0.4) 32%, rgba(58,58,58,0.3) 42%, rgba(76,76,76,0.3) 70%, rgba(77,77,77,0.29) 71%, rgba(118,118,118,0) 93%, rgba(125,125,125,0) 97%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.82)), color-stop(32%, rgba(51,51,51,0.4)), color-stop(42%, rgba(58,58,58,0.3)), color-stop(70%, rgba(76,76,76,0.3)), color-stop(71%, rgba(77,77,77,0.29)), color-stop(93%, rgba(118,118,118,0)), color-stop(97%, rgba(125,125,125,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.82) 0%, rgba(51,51,51,0.4) 32%, rgba(58,58,58,0.3) 42%, rgba(76,76,76,0.3) 70%, rgba(77,77,77,0.29) 71%, rgba(118,118,118,0) 93%, rgba(125,125,125,0) 97%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.82) 0%, rgba(51,51,51,0.4) 32%, rgba(58,58,58,0.3) 42%, rgba(76,76,76,0.3) 70%, rgba(77,77,77,0.29) 71%, rgba(118,118,118,0) 93%, rgba(125,125,125,0) 97%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.82) 0%, rgba(51,51,51,0.4) 32%, rgba(58,58,58,0.3) 42%, rgba(76,76,76,0.3) 70%, rgba(77,77,77,0.29) 71%, rgba(118,118,118,0) 93%, rgba(125,125,125,0) 97%);
  background: linear-gradient(to right, rgba(0,0,0,0.82) 0%, rgba(51,51,51,0.4) 32%, rgba(58,58,58,0.3) 42%, rgba(76,76,76,0.3) 70%, rgba(77,77,77,0.29) 71%, rgba(118,118,118,0) 93%, rgba(125,125,125,0) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7d7d7d', GradientType=1 );
}

@media (max-width: 600px) {
  .mat-card>:last-child:not(.mat-card-footer){
    overflow: hidden;
    height: 200px;
  }
  .mat-card{
    width: 90vw !important;
  }
}

.mat-raised-button{
  position: relative;
  margin: 1vh;
}