<div class="main-container">
    <form class="container" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="orange-text">Nuevo Plato</h3>
            <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">

                    <button type="submit"  mat-raised-button [routerLink]="['/menu']" ><span jhiTranslate="entity.action.back">Back</span> </button>

                <button type="submit" mat-button mat-raised-button [disabled]="editForm.form.invalid || isSaving" (click)="save()">
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </mat-toolbar>
        <div fxLayout="row" fxLayoutAlign="start start" class="padding-panel">
            <div fxFlex="45%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="orange-text">Datos</h4>
                <div fxLayout="row" fxLayoutAlign="start start" fxFill>
                    <mat-form-field fxFlex="48%">
                        <input matInput type="text" placeholder="{{ 'ichooseApp.menu.name' | translate }}" name="name" id="field_name" [(ngModel)]="menu.name"
                            required/>
                        <mat-error *ngIf="nameFormControl.errors?.required && nameFormControl.touched || nameFormControl.untouched " jhiTranslate="entity.validation.required">
                            This field is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="48%" fxFlexOffset="4%">
                        <mat-select [(ngModel)]="menu.classificationId" (change)="onClassificationChange()" placeholder="{{'ichooseApp.menu.classification' | translate }}"
                            [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let clasi of menuclassifications" [value]="clasi.id">
                                {{ clasi.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field *ngIf=" menu.classification.name != undefined" fxFill>
                    <mat-select [(ngModel)]="menu.subclassifications" placeholder="Subclasificaciones" [ngModelOptions]="{standalone: true}"
                        multiple>
                        <mat-option *ngFor="let sub of menu.classification.subclassifications" [value]="sub">{{sub.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFill hintLabel="{{ 'ichooseApp.restaurant.max255Characters' | translate }} ">
                    <textarea matInput type="text" maxlength="255" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="{{ 'ichooseApp.menu.description' | translate }}"
                        name="description" id="field_description" [(ngModel)]="menu.description"></textarea>
                        <mat-hint align="end">{{menu.description?.length || 0}}/255</mat-hint>
                </mat-form-field>
                <mat-form-field fxFill>
                    <input matInput type="number" placeholder="{{ 'ichooseApp.menu.price' | translate }}" name="price" id="field_price" [(ngModel)]="menu.price"
                        required/>
                    <span matPrefix>$&nbsp;</span>
                    <mat-error *ngIf="nameFormControl.errors?.required && nameFormControl.touched || nameFormControl.untouched" jhiTranslate="entity.validation.required">
                        This field is required
                    </mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="start start" fxFill>

                </div>
                <mat-form-field fxFill>
                    <mat-select [(ngModel)]="menu.destination" placeholder="{{'ichooseApp.menu.destination' | translate  }}"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option value="BAR">
                            <span jhiTranslate="ichooseApp.menu.bar">Bar</span>
                        </mat-option>
                        <mat-option value="COOKER">
                            <span jhiTranslate="ichooseApp.menu.cooker">Cooker</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle [(ngModel)]="menu.disabled" [ngModelOptions]="{standalone: true}" class="ichoose-theme" color="primary">{{ (menu.disabled ? 'ichooseApp.menu.disabled' : 'ichooseApp.menu.enabled') | translate }}</mat-slide-toggle>
            </div>
            <div fxFlex="55%" fxFlexOffset="5%" fxLayout="column" fxLayoutAlign="start start" class="images-panel">
                <h4 class="orange-text">Imágenes</h4>
                <div fxLayout="row" fxFill>
                    <div fxFlex="80%">
                        <label class="recuadro" fxFill fxLayout="column" fxLayoutAlign="center center" style="cursor:pointer" *ngIf="menu.pictures[0] as picture">
                            <i class="material-icons gray-text" *ngIf="!picture.url">wallpaper</i>
                            <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                            <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                            />
                        </label>
                    </div>
                    <div fxLayout="column" fxFlex="20%" fxFlexOffset="3%">
                        <label class="recuadro" fxLayout="column" fxLayoutAlign="center center" fxFlex="25%" style="cursor:pointer" *ngIf="menu.pictures[1] as picture">
                            <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                            <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                            <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                            />
                        </label>
                        <label class="recuadro" fxFlex="25%" fxFlexOffset="10%" fxLayout="column" fxLayoutAlign="center center" style="cursor:pointer"
                            *ngIf="menu.pictures[2] as picture">
                            <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                            <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                            <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                            />
                        </label>
                        <label class="recuadro" fxFlex="25%" fxFlexOffset="10%" fxLayout="column" fxLayoutAlign="center center" style="cursor:pointer"
                            *ngIf="menu.pictures[3] as picture">
                            <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                            <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                            <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                            />
                        </label>
                        <label class="recuadro" fxFlex="25%" fxFlexOffset="10%" fxLayout="column" fxLayoutAlign="center center" style="cursor:pointer"
                            *ngIf="menu.pictures[4] as picture">
                            <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                            <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                            <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                            />
                        </label>
                        <label class="recuadro" fxLayout="column" fxLayoutAlign="center center" fxFlex="25%" fxFlexOffset="10%" style="cursor:pointer"
                            *ngIf="menu.pictures[5] as picture">
                            <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                            <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                            <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                            />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
