<div class="main-container" *ngIf="menu" fxLayout="column">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text"></h3>
    
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
                <button class="buttonBack" (click)="previousState()" mat-raised-button >
                <span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="submit" mat-button mat-raised-button [routerLink]="['/menu/'+ menu.id + '/edit']"
                replaceUrl="true" queryParamsHandling="merge">
                <span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="start start">
        <div class="menu-detail-image" fxLayout="column" fxLayoutAlign="center center" *ngIf="menu.pictures[0] as picture">
            <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
        </div>
        <div class="menu-gradient-black">
            <div class="menu-name">
                <h2 class="orange-text">{{menu.name}}</h2>
                <h1 class="white-text">$ {{menu.price | number: '1.2-2'}}</h1>
            </div>
        </div>
    </div>
    <div fxLayout.gt-sm="row" fxLayout.sm-xs="column" fxLayoutAlign="start center" fxFlex>
        <div fxFlex="30%" fxFlexOffset="3%">
            <small class="gray-text">{{menu.description}}</small>
        </div>
        <div fxFlex="33%" fxLayout="row">
            <div fxFlex="50%" fxLayout="column">
                <small>
                    <b jhiTranslate="ichooseApp.menu.measuringUnit">Measuring Unit</b>
                </small>
                <br>
                <small>
                    <b jhiTranslate="ichooseApp.menu.quantity">Quantity</b>
                </small>
                <br>
                <small>
                    <b jhiTranslate="ichooseApp.menu.destination">Destination</b>
                </small>
            </div>
            <div fxFlex="50%" fxLayout="column">
                <small class="gray-text">{{menu.measuringUnitId ? menu.measuringUnit.name : '-'}}</small>
                <br>
                <small class="gray-text">{{menu.quantity ? menu.quantity : '-'}}</small>
                <br>
                <small class="gray-text">{{menu.destination ? menu.destination : '-'}}</small>
                <br>
            </div>
        </div>
        <div fxFlex="33%" fxLayout="row">
            <div fxFlex="50%" fxLayout="column">
                <small>
                    <b jhiTranslate="ichooseApp.menu.classification">Classification</b>
                </small>
                <br>
                <small>
                    <b jhiTranslate="ichooseApp.menu.subclassifications">Subclassifications</b>
                </small>
                <br>
                <small>
                    <b>Estado</b>
                </small>
            </div>
            <div fxFlex="50%" fxLayout="column">
                <small class="gray-text">{{menu.classification ? menu.classification : '-'}}</small>
                <br>
                <small class="gray-text">{{menu.subclassifications.length > 0 ? menu.subclassifications : '-'}}</small>
                <br>
                <small class="gray-text">{{menu.disabled ? 'Deshabilitado' : 'Habilitado'}}</small>
                <br>
            </div>
        </div>
    </div>
</div>