<div class="main-container">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text">Platos</h3>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
            <button type="submit" mat-button mat-raised-button [routerLink]="['../menu-new']">
                <span jhiTranslate="ichooseApp.menu.home.createLabel">Create new Menu</span>
            </button>
        </div>
    </mat-toolbar>
    <div class="padding-panel">
        <div fxFill fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar plato">
            </mat-form-field>
        </div>
        <br>
        <div fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="start start" fxLayout.xs="column wrap" fxLayoutAlign.xs="center center" fxFill>
            <mat-card fxFlex.gt-xs="23%" fxFlex.xs="300px" fxFlexOffset="2%" *ngFor="let menu of menus">
                <div class="card-details-button">
                    <button mat-icon-button [matMenuTriggerFor]="menuList">
                        <mat-icon class="material-icons">more_vert</mat-icon>
                    </button>
                    <mat-menu #menuList="matMenu">
                        <button mat-menu-item [routerLink]="['../menu', menu.id ]">
                            <mat-icon class="material-icons">remove_red_eye</mat-icon>
                            <span>Ver detalles</span>
                        </button>
                        <button mat-menu-item [routerLink]="['../menu/'+ menu.id + '/edit']">
                            <mat-icon class="material-icons">mode_edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item [routerLink]="['/', { outlets: { popup: 'menu/'+ menu.id + '/delete'} }]">
                            <mat-icon class="material-icons">delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                        <mat-menu #menuList="matMenu">
                            <button mat-menu-item [routerLink]="['../menu', menu.id ]" fxLayout="row" fxLayoutAlign="start center">
                                <small class="material-icons">remove_red_eye</small>
                                <small>&nbsp;Ver detalles</small>
                            </button>
                            <button mat-menu-item [routerLink]="['../menu/'+ menu.id + '/edit']" fxLayout="row" fxLayoutAlign="start center">
                                <small class="material-icons">mode_edit</small>
                                <small>&nbsp;Editar</small>
                            </button>
                            <button mat-menu-item [routerLink]="['/', { outlets: { popup: 'menu/'+ menu.id + '/delete'} }]" fxLayout="row" fxLayoutAlign="start center">
                                <small class="material-icons">delete</small>
                                <small>&nbsp;Eliminar</small>
                            </button>
                        </mat-menu>
                </div>
                <mat-card-header>
                    <mat-card-title>
                        <b>{{menu.name}}</b>
                    </mat-card-title>
                    <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                        <span *ngIf="menu.classification">{{menu.classification.name}} &nbsp;&nbsp;</span>
                        <mat-chip-list>
                            <mat-chip color="primary" selected="true">
                                ${{menu.price | number: '1.2-2'}}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                    <img mat-card-image [src]="menu.pictures[0].url" alt="Menu Photo" *ngIf="menu.pictures[0].url">
                    <img mat-card-image src="../../../content/images/no-picture-food.png" alt="Menu Photo" *ngIf="!menu.pictures[0].url">
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="end center">
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>