<div *ngIf="booking" class="booking-form">
    <button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
        <mat-icon class="material-icons">close</mat-icon>
    </button>
    <div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
        <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
            <h2 class="gray-text">
                <span jhiTranslate="ichooseApp.booking.detail.title">Booking</span>
                <span> {{booking.id}}</span>
            </h2>
        </mat-dialog-title>
    </div>
    <div fxLayout="row" fxFill>
        <div fxFlex="43%" fxFlexOffset="5%">
            <b jhiTranslate="ichooseApp.booking.date">Date Time</b>
            <span>: {{booking.dateTime | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
        <div fxFlex="42%" fxFlexOffset="5%">
            <b jhiTranslate="ichooseApp.booking.people">People</b>
            <span>: {{booking.people}}</span>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxFill>
        <div fxFlex="43%" fxFlexOffset="5%">
            <b jhiTranslate="ichooseApp.booking.clientName">Client Name</b>
            <span>: {{booking.clientName}}</span>
        </div>
        <div fxFlex="42%" fxFlexOffset="5%">
            <b jhiTranslate="ichooseApp.booking.clientTelephoneNumber">Client Telephone Number</b>
            <span>: {{booking.clientTelephoneNumber}}</span>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxFill>
        <div fxFlex="43%" fxFlexOffset="5%">
            <b jhiTranslate="ichooseApp.booking.table.tableName">Table</b> :
            <span>
                <span *ngIf="getNumber(booking.table) == false" jhiTranslate="ichooseApp.booking.table.tableUnassigned">
                    Unassigned table
                </span>
                <span *ngIf="getNumber(booking.table) == true">
                    {{booking.table.number}}
                </span>
            </span>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxFill>
        <div fxFlex="90%" fxFlexOffset="5%">
            <b jhiTranslate="ichooseApp.booking.comments">Comments</b>
            <br>
            <br>
            <span *ngIf="booking.comments">: {{booking.comments}}</span>
            <small *ngIf="booking.comments == null" class="gray-text" jhiTranslate="ichooseApp.booking.noComments">No comments found for this booking</small>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxFill>
        <div fxFlex="90%" fxFlexOffset="5%">
            <b jhiTranslate="ichooseApp.booking.diners">DINERS</b>
            <br>
            <br>
            <div fxLayout="row" fxFill *ngIf="booking.participants.length > 0">
                <div *ngFor="let client of booking.participants" matTooltip="{{client.firstName}} {{client.lastName}}" style="margin-right: 5px; height: 35px;">
                    <img *ngIf="client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png">
                    <img *ngIf="client.picture" class="avatar" [src]="'data:' + client.picture.contentType + ';base64,' + client.picture.content"
                         style="max-width: 100%;" alt="picture image" />
                </div>
            </div>
            <small *ngIf="booking.participants.length == 0"  class="gray-text" jhiTranslate="ichooseApp.booking.dinersNotFound">No diners found for this booking</small>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxFill>
        <div fxFlex="90%" fxFlexOffset="5%">
            <b jhiTranslate="ichooseApp.booking.table.orders">LIST OF ORDERS</b>
            <br>
            <br>
            <mat-table *ngIf="booking.orders.length > 0" #table [dataSource]="dataSource" fxFill>
                <ng-container matColumnDef="Cantidad">
                    <mat-header-cell *matHeaderCellDef fxFlex="10%">
                        <span jhiTranslate="ichooseApp.stay.quantity"></span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let order" fxFlex="10%"> {{order.quantity}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Nombre">
                    <mat-header-cell *matHeaderCellDef fxFlex="40%">
                        <span jhiTranslate="ichooseApp.menu.name"></span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let order" fxFlex="40%">
                        <small>{{order.menu.name}}</small>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Precio unitario">
                    <mat-header-cell *matHeaderCellDef fxFlex="20%">
                        <span jhiTranslate="ichooseApp.stay.unitPrice"></span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let order" fxFlex="20%">
                        <small>$ {{order.price | number:'1.2-2' }}</small>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Precio total">
                    <mat-header-cell *matHeaderCellDef fxFlex="20%">
                        <span jhiTranslate="ichooseApp.stay.totalPrice"></span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let order" fxFlex="20%">
                        <small>$ {{calculateStayOrderAmount(order) | number: '1.2-2' }}</small>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Released">
                    <mat-header-cell *matHeaderCellDef>
                        <span jhiTranslate="ichooseApp.stay.released"></span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <div *ngIf="order.released == null">
                            <i (click)="markAsReleased(order)" class="material-icons mat-info-text">
                                access_time
                            </i>
                            <i (click)="removeMenulist(order)" class="material-icons mat-warn-text">close</i>
                        </div>
                        <div *ngIf="order.released != null">
                            <i class="material-icons mat-success-text">check</i>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <small *ngIf="booking.orders.length == 0" class="gray-text" jhiTranslate="ichooseApp.booking.table.noOrders">No orders found for this booking</small>
        </div>
    </div>
</div>
