<form name="editForm" class="booking-form" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
        <mat-icon class="material-icons orange-text">close</mat-icon>
    </button>
    <div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
        <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
            <h2 class="gray-text" jhiTranslate="ichooseApp.booking.detail.title">Reserva</h2>
        </mat-dialog-title>
        <div fxLayout="row" fxFill>
            <mat-form-field fxFlex="43%" fxFlexOffset="5%">
                <input matInput [owlDateTime]="dt1" name="dateTime" placeholder="{{ 'ichooseApp.booking.chooseADate' | translate }}" [(ngModel)]="booking.dateTime"
                    [ngModelOptions]="{standalone: true}" required/>
                <span matSuffix [owlDateTimeTrigger]="dt1">
                    <i class="material-icons">
                        calendar_today
                    </i>
                </span>
                <owl-date-time #dt1></owl-date-time>
                <mat-error *ngIf="dateCtrl.errors?.required && dateCtrl.touched || dateCtrl.untouched " jhiTranslate="entity.validation.required">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="42%" fxFlexOffset="5%">
                <input matInput type="number" placeholder="{{ 'ichooseApp.booking.people' | translate }}" class="form-control" name="peopleCtrl"
                    id="field_people" [(ngModel)]="booking.people" required/>
                <mat-error *ngIf="peopleCtrl.errors?.required && peopleCtrl.touched || peopleCtrl.untouched " jhiTranslate="entity.validation.required">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFill>
            <mat-form-field fxFlex="43%" fxFlexOffset="5%">
                <input matInput type="text" placeholder="{{ 'ichooseApp.booking.clientName' | translate }}" class="form-control" name="nameCtrl"
                    id="field_clientName" [(ngModel)]="booking.clientName" required/>
                <mat-error *ngIf="nameCtrl.errors?.required && nameCtrl.touched || nameCtrl.untouched " jhiTranslate="entity.validation.required">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="43%" fxFlexOffset="5%">
                <input matInput type="text" placeholder="{{ 'ichooseApp.booking.clientTelephoneNumber' | translate }}" class="form-control"
                    name="clienNumbCtrl" id="field_clientTelephoneNumber" [(ngModel)]="booking.clientTelephoneNumber" required/>
                <i matSuffix class="material-icons">phone</i>
                <mat-error *ngIf="clienNumbCtrl.errors?.required && clienNumbCtrl.touched || clienNumbCtrl.untouched" jhiTranslate="entity.validation.required">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFill>
            <mat-form-field fxFlex="90%" fxFlexOffset="5%">
                <textarea matInput type="text" placeholder="{{ 'ichooseApp.booking.comments' | translate }}" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="5" type="text" name="comments" id="field_comments" [(ngModel)]="booking.comments"></textarea>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFill>
            <mat-form-field fxFlex="90%" fxFlexOffset="5%">
                <input matInput placeholder="{{ 'ichooseApp.booking.table.tableName' | translate }}" [matAutocomplete]="auto" [(ngModel)]="booking.table"
                    [formControl]="tableCtrl">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let table of filteredTables | async" [value]="table">
                        <span>{{ table.number }}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" mat-button mat-raised-button [disabled]="editForm.form.invalid || booking.dateTime === undefined || isSaving "
                tabindex="-1" (click)="save()" color="primary">
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </mat-dialog-actions>
    </div>
</form>