/* ==========================================================================
Main page styles
======================================================*/

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}

.booking-form{
  mat-dialog-actions, mat-dialog-title{
    margin-bottom: 16px;
  }
  min-width: 500px;
  width: 50vw;
}

.avatar{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid rgb(175, 175, 175);
  padding: 2px;
}
