<div class="main-container">
  <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
    <h3 class="orange-text" jhiTranslate="ichooseApp.booking.home.title">Bookings</h3>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
      <button type="submit" mat-button mat-raised-button [routerLink]="['/', { outlets: { popup: ['booking-new'] } }]">
        <span jhiTranslate="ichooseApp.booking.home.createLabel">Create new Booking</span>
      </button>
    </div>
  </mat-toolbar>
  <div class="padding-panel">
    <div class="spinner-loading"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div fxFill fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field>
        <mat-select placeholder="{{ 'ichooseApp.booking.bookingStatusDisplay' | translate }}" (change)="onStatusChange()" [(ngModel)]="bookingStatus">
          <mat-option *ngFor="let status of bookingStatusArray" [value]="status">
            <span jhiTranslate="{{'ichooseApp.booking.status.'+  status}}"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-table #table [dataSource]="bookings" fxFlex="85%">
        <!-- Número Column -->
        <ng-container matColumnDef="Número">
          <mat-header-cell *matHeaderCellDef class="center-text">
            <span jhiTranslate="ichooseApp.booking.number">Number </span>
          </mat-header-cell>
          <mat-cell *matCellDef="let booking" class="center-text"> {{booking.id}} </mat-cell>
        </ng-container>

        <!-- tableName Column -->
        <ng-container matColumnDef="Mesa">
          <mat-header-cell *matHeaderCellDef class="center-text">
            <span jhiTranslate="ichooseApp.booking.table.tableName">Table</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let booking" class="center-text">
            <span *ngIf="getNumber(booking.table) == false">
              -
            </span>
            <span *ngIf="getNumber(booking.table) == true">
              {{booking.table.number}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Cliente Column -->
        <ng-container matColumnDef="Cliente">
          <mat-header-cell *matHeaderCellDef>
            <span>Cliente</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let booking"> {{booking.clientName}} </mat-cell>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef class="center-text">
            <span jhiTranslate="ichooseApp.booking.date">Date</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let booking" class="center-text">{{booking.dateTime | date:'yyyy-MM-dd HH:mm'}}</mat-cell>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="Estado">
          <mat-header-cell *matHeaderCellDef class="center-text">
            <span jhiTranslate="ichooseApp.booking.status.statusName">Status</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let booking" class="center-text">
            <mat-chip-list class="status-chips">
              <mat-chip color="info" *ngIf="booking.status == 'FINALIZED'" selected="true" jhiTranslate="{{'ichooseApp.booking.status.'+ booking.status}}"></mat-chip>
              <mat-chip color="warn" *ngIf="booking.status == 'REJECTED' || booking.status == 'DISMISSED'" selected="true" jhiTranslate="{{'ichooseApp.booking.status.'+ booking.status}}"></mat-chip>
              <mat-chip color="success" *ngIf="booking.status == 'ACTIVE'" selected="true" jhiTranslate="{{'ichooseApp.booking.status.'+ booking.status}}"></mat-chip>
              <mat-chip color="primary" *ngIf="booking.status == 'PENDING'" selected="true" jhiTranslate="{{'ichooseApp.booking.status.'+ booking.status}}"></mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>

        <!-- Opciones -->
        <ng-container matColumnDef="Opciones">
          <mat-header-cell *matHeaderCellDef style="flex: none;">
            <span jhiTranslate="ichooseApp.booking.options">Options</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let booking" class="action-cell" style="flex: none;">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item fxLayout="row" fxLayoutAlign="left center" [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id } }]">
                <small class="material-icons small-icon">remove_red_eye</small>&nbsp;&nbsp;
                <small jhiTranslate="ichooseApp.booking.statusOptions.see"></small>
              </button>
              <button mat-menu-item fxLayout="row" fxLayoutAlign="left center" *ngIf="(booking.status == 'PENDING' || booking.status == 'ACTIVE') && !booking.tableId" type="submit"
                      [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge">
                <small class="material-icons small-icon">touch_app</small>&nbsp;&nbsp;
                <small jhiTranslate="ichooseApp.booking.statusOptions.assignTable"></small>
              </button>
              <button mat-menu-item fxLayout="row" fxLayoutAlign="left center" *ngIf="booking.status != 'FINALIZED' " type="submit" [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/edit'} }]"
                      replaceUrl="true" queryParamsHandling="merge">
                <small class="material-icons small-icon">mode_edit</small>&nbsp;&nbsp;
                <small jhiTranslate="ichooseApp.booking.statusOptions.edit"></small>
              </button>
              <button mat-menu-item fxLayout="row" fxLayoutAlign="left center" *ngIf="booking.status == 'ACTIVE' " [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/change-status'} }]"
                      [queryParams]="{status: 'DISMISSED'}" replaceUrl="true" queryParamsHandling="merge">
                <small class="material-icons small-icon">close</small>&nbsp;&nbsp;
                <small jhiTranslate="ichooseApp.booking.statusOptions.dismissBooking"></small>
              </button>
              <button mat-menu-item fxLayout="row" fxLayoutAlign="left center" *ngIf="booking.status == 'PENDING' " [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/rejected-status'} }]">
                <small class="material-icons small-icon">not_interested</small>&nbsp;&nbsp;
                <small jhiTranslate="ichooseApp.booking.statusOptions.rejectBooking"></small>
              </button>
              <button mat-menu-item fxLayout="row" fxLayoutAlign="left center" *ngIf="booking.status == 'PENDING'" [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/active-status'} }]">
                <small class="material-icons small-icon">check_circle_outline</small>&nbsp;&nbsp;
                <small jhiTranslate="ichooseApp.booking.statusOptions.activateBooking"></small>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <br>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="resultsLength" [pageSize]="20"></mat-paginator>
    </div>
  </div>
</div>