
/* ==========================================================================
Main page styles
========================================================================== */
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}

.option-image{
    width: 35px;
    border-radius: 100%;
    vertical-align: middle;
  }
  .option-text{
    vertical-align: middle;
  }
  .option-price{
    float: right;
  }
  
  mat-cell {
    overflow: visible;
  }