<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons">close</mat-icon>
</button>
<div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
    <mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
        <h3>{{promotion.name}}</h3>
    </mat-dialog-title>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h4 class="gray-text light-text">
            <span jhiTranslate="ichooseApp.promotion.finish.question"></span>
        </h4>
    </div>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-raised-button class="ichoose-theme" color="primary" tabindex="-1" (click)="finishPromotion()">
            <span jhiTranslate="entity.action.accept">Accept</span>
        </button>
    </mat-dialog-actions>
</div>