<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
        <mat-icon (click)="clear()" class="material-icons">close</mat-icon>
    </button>
    <span id="maxTen" style="display:none" jhiTranslate="ichooseApp.promotion.maxTen"></span>
    <form novalidate>
        <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
            <h4>{{promotion.name}}</h4>
        </mat-dialog-title>

        <div fxFill fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
            </mat-form-field>
        </div>
        <!-- <div> LISTADO DE ENVIADOS - TEMPORAL -->
            <!-- <span *ngFor="let shipping of promotion.shippings"> {{shipping.group.name}} </span> -->
        <!-- </div> -->
        <div fxFill fxLayout="row" fxLayoutAlign="start center">
                <small class="gray-text regular-text"><span jhiTranslate="ichooseApp.promotion.sentList"></span></small>
            </div>

        <mat-table #table [dataSource]="dataSend" fxFill>

                <ng-container matColumnDef="Estado">
                    <mat-header-cell *matHeaderCellDef>
                        <span jhiTranslate="ichooseApp.promotion.status"></span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <span *ngIf="item.dateTimeShipping != null" class="material-icons mat-info-text" matTooltip="{{item.dateTimeShipping | date:'HH:mm'}}">
                                check
                        </span>
                        <span *ngIf="item.dateTimeShipping === null" class="material-icons mat-info-text" matTooltip="{{ 'ichooseApp.promotion.pending' | translate }}" >
                                access_time
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="NombreGrupo">
                        <mat-header-cell *matHeaderCellDef>
                            <span jhiTranslate="ichooseApp.clientGroup.detail.title"></span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item">{{item.group.name}} </mat-cell>
                </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedSends"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedSends;"></mat-row>
    
        </mat-table>

        <br>
        <div fxFill fxLayout="row" fxLayoutAlign="start center">
            <small class="gray-text regular-text"><span jhiTranslate="ichooseApp.promotion.sendTo"></span></small>
        </div>
        <br>
        <mat-table #table [dataSource]="dataSource" fxFill>

                    <ng-container matColumnDef="Enviar">
                        <mat-header-cell *matHeaderCellDef>
                            <span jhiTranslate="ichooseApp.promotion.send"></span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item"><mat-checkbox (change)="markChecked()" [(ngModel)]="item.checked"  [disabled]=" count > 9 && item.checked == false" [ngModelOptions]="{standalone: true}"> </mat-checkbox></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="NombreGrupo">
                            <mat-header-cell *matHeaderCellDef>
                                <span jhiTranslate="ichooseApp.clientGroup.detail.title"></span>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item">{{item.group.name}} </mat-cell>
                    </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
            </mat-table>

            <div *ngIf="count > 9">

            </div>

            <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1"  mat-dialog-close (click)="clear()">
                            <span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button mat-button mat-raised-button  tabindex="-1"  color="primary" (click)="send()">
                        <span jhiTranslate="ichooseApp.promotion.send">Send</span>
                    </button>
                    <br><br>
                </mat-dialog-actions>
 
                <!-- Traducciones que se utilizan en component.ts -->

                <span id="successfulShippingMessage" style="display:none" jhiTranslate="ichooseApp.promotion.successfulShippingMessage"></span>
                <span id="failedShippingMessage" style="display:none" jhiTranslate="ichooseApp.promotion.failedShippingMessage"></span>