<div class="main-container">
        <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
                <h3 class="orange-text" jhiTranslate="ichooseApp.promotion.home.title">Promotions</h3>
                <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
                        <button type="submit" mat-button mat-raised-button [routerLink]="['/', { outlets: { popup: ['promotion-new'] } }]">
                                <span jhiTranslate="ichooseApp.promotion.home.createLabel">Create new Promotion</span>
                        </button>
                </div> 

        </mat-toolbar>
        <div class="padding-panel" *ngIf="promotions">
                <div fxFill fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'ichooseApp.promotion.home.search' | translate }}">
                        </mat-form-field>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="center centere" fxFill>
                        <mat-table #table [dataSource]="dataSource" fxFlex="70%">
                                <ng-container matColumnDef="Nombre">
                                        <mat-header-cell *matHeaderCellDef>
                                                <span jhiTranslate="ichooseApp.promotion.name"></span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let promotion"> {{promotion.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Destinatarios">
                                        <mat-header-cell *matHeaderCellDef>
                                                <span jhiTranslate="ichooseApp.promotion.receiver"></span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let promotion">
                                                <div *ngIf="promotion.open == true">
                                                        <span jhiTranslate="ichooseApp.promotion.openGroup"></span>
                                                </div>
                                                <div *ngIf="promotion.open == false">
                                                        <span jhiTranslate="ichooseApp.promotion.closeGroup"></span> ( {{promotion.groups.length}} )
                                                </div>
                                        </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Estado">
                                        <mat-header-cell *matHeaderCellDef>
                                                <span jhiTranslate="ichooseApp.promotion.status"></span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let promotion">
                                                <mat-chip-list fxFlex="30%">
                                                        <mat-chip color="info" selected="true" *ngIf="statusDate(promotion) == 'futura' ">
                                                                <span jhiTranslate="ichooseApp.promotion.statusPromotion.future"></span>
                                                        </mat-chip>
                                                        <mat-chip color="warn" selected="true" *ngIf="statusDate(promotion) == 'finalizada' " matTooltip="Mesas reservadas">
                                                                <span jhiTranslate="ichooseApp.promotion.statusPromotion.finished"></span>
                                                        </mat-chip>
                                                        <mat-chip color="success" selected="true" *ngIf="statusDate(promotion) == 'activa' " matTooltip="Mesas libres">
                                                                <span jhiTranslate="ichooseApp.promotion.statusPromotion.active"></span>
                                                        </mat-chip>
                                                </mat-chip-list>
                                        </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Opciones">
                                        <mat-header-cell *matHeaderCellDef>
                                                <span jhiTranslate="ichooseApp.promotion.options"></span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let promotion">
                                                <button mat-icon-button [routerLink]="['../promotion', promotion.id ]">
                                                        <mat-icon matTooltip="{{'ichooseApp.promotion.seePromotion' | translate}}" class="material-icons">remove_red_eye</mat-icon>
                                                </button>
                                                <button mat-icon-button [routerLink]="['/', { outlets: { popup: 'promotion/'+ promotion.id + '/edit'} }]">
                                                        <mat-icon matTooltip="{{'ichooseApp.promotion.editPromotion' | translate}}" class="material-icons">mode_edit</mat-icon>
                                                </button>
                                                <button mat-icon-button [routerLink]="['/', { outlets: { popup: 'promotion/'+ promotion.id + '/finish'} }]" [disabled]=" statusDate(promotion) == 'finalizada' ">
                                                        <mat-icon matTooltip="{{'ichooseApp.promotion.finishPromotion' | translate}}" class="material-icons">arrow_upward</mat-icon>
                                                </button>
                                                <button mat-icon-button [routerLink]="['/', { outlets: { popup: 'promotion/'+ promotion.id + '/reactivate'} }]" [disabled]="statusDate(promotion) == 'activa'">
                                                        <mat-icon matTooltip="{{'ichooseApp.promotion.reactivatePromotion' | translate}}" class="material-icons">subdirectory_arrow_right</mat-icon>
                                                </button>

                                                <button mat-icon-button [routerLink]="['/', { outlets: { popup: 'promotion/'+ promotion.id + '/send'} }]">
                                                        <mat-icon matTooltip="{{'ichooseApp.promotion.sendPromotion' | translate}}" class="material-icons">mail</mat-icon>
                                                </button>
                                        </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                </div>
        </div>
</div>