<div class="main-container">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text">{{promotion.name}}</h3>
        <div fxLayout="row"  fxLayoutAlign="end center" fxFlex="100%">
        <button type="submit" mat-raised-button [routerLink]="['/promotion']" ><span jhiTranslate="entity.action.back">Back</span> </button>
       </div>
    </mat-toolbar>
    <div class="padding-panel" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" class="gray-text">
            <small class="material-icons">people</small>
            &nbsp;
            <small*ngIf="promotion.open" jhiTranslate="ichooseApp.promotion.available">Open</small>
                &nbsp;
                <small *ngFor="let group of promotion.groups">&nbsp;{{group.name}},</small>
                &nbsp;&nbsp;&nbsp;
                <small class="material-icons">alarm</small>
                <small> &nbsp;{{promotion.init | date: 'dd/MM'}} - {{promotion.end | date: 'dd/MM'}} </small>
        </div>
        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-table #table [dataSource]="dataSource" fxFlex="50%">
                <ng-container matColumnDef="Cantidad">
                    <mat-header-cell *matHeaderCellDef>
                        <span jhiTranslate="ichooseApp.stay.quantity"></span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.quantity}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Nombre">
                    <mat-header-cell *matHeaderCellDef>
                        <span jhiTranslate="ichooseApp.menu.name"></span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.menu.name}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50%" fxLayout="row" fxLayoutAlign="end center">
                <h5 jhiTranslate="ichooseApp.promotion.total">Total</h5>
                <small>: &nbsp;$ {{amount | number:'1.2-2'}}</small>
            </div>
        </div>
        <br>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50%" fxLayout="row" fxLayoutAlign="center center">
                <h3 jhiTranslate="ichooseApp.promotion.finalPrice">Final Price</h3>
                <h3>: &nbsp;$ {{promotion.finalPrice | number:'1.2-2'}}</h3>
            </div>
        </div>
    </div>
</div>