<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons">close</mat-icon>
</button>
<div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
    <mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
        <h3>{{promotion.name}}</h3>
    </mat-dialog-title>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h4 class="gray-text light-text">
            <span jhiTranslate="ichooseApp.promotion.reactivate.question"></span>
            <br>
            <span jhiTranslate="ichooseApp.promotion.reactivate.chooseNewDate"></span>
        </h4>
    </div>
    <div class="form-group">
        <mat-form-field fxFIll>
            <input matInput [owlDateTime]="dt1" id="field_init" [ngModelOptions]="{standalone: true}" name="dateTime" placeholder="{{ 'ichooseApp.promotion.endPromotion' | translate }}"
                [(ngModel)]="promotionEnd" [ngModelOptions]="{standalone: true}" required />
            <span matSuffix [owlDateTimeTrigger]="dt1">
                <i class="material-icons">
                    calendar_today
                </i>
            </span>
            <owl-date-time #dt1></owl-date-time>
        </mat-form-field>
    </div>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-raised-button class="ichoose-theme" color="primary" [disabled]="promotionEnd === undefined" tabindex="-1" (click)="reactivatePromotion()">
            <span jhiTranslate="entity.action.accept"></span>
        </button>
    </mat-dialog-actions>
</div>