<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon (click)="clear()" class="material-icons">close</mat-icon>
</button>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
        <h4 jhiTranslate="ichooseApp.promotion.newPromotion"></h4>
    </mat-dialog-title>
    <div fxLayout="row" fxFill>
        <mat-form-field fxFlex="100%">
            <input matInput type="text" placeholder="{{ 'ichooseApp.promotion.name' | translate }}" class="form-control" name="name"
                id="field_name" [(ngModel)]="promotion.name" [ngModelOptions]="{standalone: true}" required />
            <mat-error *ngIf="nameCtrl.errors?.required && nameCtrl.touched || nameCtrl.untouched" jhiTranslate="entity.validation.required">This field is required.</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxFill>
        <mat-form-field fxFlex="45%">
            <input matInput [owlDateTime]="dt1" id="field_init" [ngModelOptions]="{standalone: true}" name="dateTime" placeholder="{{ 'ichooseApp.promotion.initPromotion' | translate }}"
                [(ngModel)]="promotion.init" [ngModelOptions]="{standalone: true}" disabled required />
            <span matSuffix [owlDateTimeTrigger]="dt1">
                <i class="material-icons">
                    calendar_today
                </i>
            </span>
            <owl-date-time #dt1></owl-date-time>
            <mat-error *ngIf="dateCtrl.errors?.required && dateCtrl.touched || dateCtrl.untouched " jhiTranslate="entity.validation.required">
                This field is required
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="45%" fxFlexOffset="3%">
            <input matInput [owlDateTime]="dt2" id="field_init" name="dateTime" [ngModelOptions]="{standalone: true}" placeholder="{{ 'ichooseApp.promotion.endPromotion' | translate }}"
                [(ngModel)]="promotion.end" [ngModelOptions]="{standalone: true}" disabled/>
            <span matSuffix [owlDateTimeTrigger]="dt2">
                <i class="material-icons">
                    calendar_today
                </i>
            </span>
            <owl-date-time #dt2></owl-date-time>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxFill fxLayoutAlign="start center">
        <mat-slide-toggle [(ngModel)]="promotion.open" [ngModelOptions]="{standalone: true}" class="ichoose-theme" color="primary">{{ (promotion.open ? 'ichooseApp.promotion.openGroup' : 'ichooseApp.promotion.closeGroup') | translate }}</mat-slide-toggle>
        <div fxFlex="60%" fxFlexOffset="9%" *ngIf="promotion.open === false">
            <ng-select class="ichoose-theme" color="primary" [items]="clientgroups" [multiple]="true" [closeOnSelect]="false" bindLabel="name" placeholder="{{ 'ichooseApp.promotion.selectGroup' | translate }}"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="promotion.groups">
            </ng-select>
        </div>
    </div>
    <br>
    <small class="gray-text regular-text">LISTA DE PRODUCTOS</small>
    <br>
    <div fxLayout="row" fxFill>
        <mat-form-field fxFlex="65%">
            <input class="form-control" id="field_clientTable" matInput placeholder="{{ 'ichooseApp.menu.home.title' | translate }}"
                [(ngModel)]="selectedMenu" name="menu" [matAutocomplete]="auto" [formControl]="menuCtrl" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let menu of filteredMenus | async" [value]="menu">
                    <img class="option-image" [src]="menu.pictures[0].url" />
                    <small class="option-text">{{ menu.name }} </small>
                    <b class="option-price"> ${{ menu.price | number:'1.2-2' }}</b>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="menuCtrl.errors?.required && menuCtrl.touched || menuCtrl.untouched" jhiTranslate="entity.validation.required">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20%" fxFlexOffset="3%">
            <input matInput placeholder="{{ 'ichooseApp.menu.quantity' | translate }}" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}"
                type="number">
        </mat-form-field>
        <button mat-mini-fab class="ichoose-theme" color="primary" [disabled]="selectedMenu == undefined || selectedMenu.id == undefined || quantity < 1"
            (click)="addMenuList()" fxFlexOffset="5%">
            <i class="material-icons">add</i>
        </button>
    </div>
    <br>
    <mat-table #table [dataSource]="dataSource" fxFill>

        <ng-container matColumnDef="Cantidad">
            <mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="ichooseApp.stay.quantity"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.quantity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="ichooseApp.menu.name"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <small>{{item.menu.name}}</small>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Precio unitario">
            <mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="ichooseApp.stay.unitPrice"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.menu.price | number: '1.2-2'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Precio total">
            <mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="ichooseApp.stay.totalPrice"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{calculatePromotionItemAmount(item)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Eliminar">
            <mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="ichooseApp.promotion.remove"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <i (click)="removeMenulist(order)" class="material-icons mat-warn-text">close</i>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-divider></mat-divider>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
            <input matInput type="text" class="form-control" name="finalPrice" id="field_price" placeholder="{{ 'ichooseApp.promotion.finalPrice' | translate }}"
                [(ngModel)]="promotion.finalPrice" required>
            <mat-error *ngIf="finalPriceCtrl.errors?.required && finalPriceCtrl.touched || finalPriceCtrl.untouched" jhiTranslate="entity.validation.required">This field is required.</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end center">
            <span>TOTAL: &nbsp;&nbsp;</span>
            <h2> $ {{amount | number: '1.2-2' }}</h2>
        </div>
    </div>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" mat-button mat-raised-button [disabled]="editForm.form.invalid || promotion.items.length == 0 || promotion.init == undefined || isSaving"
            tabindex="-1" (click)="save()" color="primary">
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
        <br>
        <br>
    </mat-dialog-actions>
</form>