<div fxLayout="row" class="footer" fxLayoutAlign="center center" fxFill>
    &nbsp;
    <div fxLayout="row" fxFlex.gt-sm="25%" fxHide.xs="true">
       <!-- <button mat-button id="restaurantOwners">
            <span jhiTranslate="global.menu.restaurantOwners" class="light-text">Restaurant Owners</span>
        </button>
        <button mat-button id="login" (click)="login()" routerLinkActive="active">
            <span jhiTranslate="global.menu.account.login" class="light-text">Sign in</span>
        </button>-->
        <button mat-button id="help" (click)="help()" routerLinkActive="active" fxLayoutAlign="space-between end">
            <span jhiTranslate="global.menu.help" class="light-text">Help</span>
        </button>
    </div>
    <div fxFlex="40%" fxLayoutAlign="center center" fxLayout="row">
        <img src="../../../content/images/ichoose-orange.png" class="footer-img">
    </div>
    <div fxFlex="20%" fxFlex.xs="40%" fxLayoutAlign="center center" fxLayout="row">
        <small class="white-text">iChoose © 2018</small>
    </div>
</div>