<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNationalityLabel" jhiTranslate="ichooseApp.nationality.home.createOrEditLabel">Create or edit a Nationality</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!nationality.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="nationality.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.nationality.nameSp" for="field_nameSp">Name Sp</label>
            <input type="text" class="form-control" name="nameSp" id="field_nameSp"
                [(ngModel)]="nationality.nameSp" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.nationality.nameEn" for="field_nameEn">Name En</label>
            <input type="text" class="form-control" name="nameEn" id="field_nameEn"
                [(ngModel)]="nationality.nameEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.nationality.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="nationality.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.nationality.iso2" for="field_iso2">Iso 2</label>
            <input type="text" class="form-control" name="iso2" id="field_iso2"
                [(ngModel)]="nationality.iso2" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.nationality.iso3" for="field_iso3">Iso 3</label>
            <input type="text" class="form-control" name="iso3" id="field_iso3"
                [(ngModel)]="nationality.iso3" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.nationality.phoneCode" for="field_phoneCode">Phone Code</label>
            <input type="text" class="form-control" name="phoneCode" id="field_phoneCode"
                [(ngModel)]="nationality.phoneCode" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.nationality.image" for="field_image">Image</label>
            <select class="form-control" id="field_image" name="image" [(ngModel)]="nationality.imageId">
                <option [ngValue]="null"></option>
                <option [ngValue]="pictureOption.id" *ngFor="let pictureOption of images; trackBy: trackPictureById">{{pictureOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
