<div>
    <h2>
        <span jhiTranslate="ichooseApp.nationality.home.title">Nationalities</span>
        <button class="btn btn-primary float-right jh-create-entity create-nationality" [routerLink]="['/', { outlets: { popup: ['nationality-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.nationality.home.createLabel">
            Create new Nationality
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.nationality.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nationalities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameSp"><span jhiTranslate="ichooseApp.nationality.nameSp">Name Sp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameEn"><span jhiTranslate="ichooseApp.nationality.nameEn">Name En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="ichooseApp.nationality.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="iso2"><span jhiTranslate="ichooseApp.nationality.iso2">Iso 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="iso3"><span jhiTranslate="ichooseApp.nationality.iso3">Iso 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneCode"><span jhiTranslate="ichooseApp.nationality.phoneCode">Phone Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imageId"><span jhiTranslate="ichooseApp.nationality.image">Image</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nationality of nationalities ;trackBy: trackId">
                <td><a [routerLink]="['../nationality', nationality.id ]">{{nationality.id}}</a></td>
                <td>{{nationality.nameSp}}</td>
                <td>{{nationality.nameEn}}</td>
                <td>{{nationality.name}}</td>
                <td>{{nationality.iso2}}</td>
                <td>{{nationality.iso3}}</td>
                <td>{{nationality.phoneCode}}</td>
                <td>
                    <div *ngIf="nationality.imageId">
                        <a [routerLink]="['../picture', nationality.imageId  ]" >{{nationality.imageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../nationality', nationality.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nationality/'+ nationality.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nationality/'+ nationality.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="nationalities && nationalities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
