
<div *ngIf="nationality">
    <h2><span jhiTranslate="ichooseApp.nationality.detail.title">Nationality</span> {{nationality.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.nationality.nameSp">Name Sp</span></dt>
        <dd>
            <span>{{nationality.nameSp}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.nationality.nameEn">Name En</span></dt>
        <dd>
            <span>{{nationality.nameEn}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.nationality.name">Name</span></dt>
        <dd>
            <span>{{nationality.name}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.nationality.iso2">Iso 2</span></dt>
        <dd>
            <span>{{nationality.iso2}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.nationality.iso3">Iso 3</span></dt>
        <dd>
            <span>{{nationality.iso3}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.nationality.phoneCode">Phone Code</span></dt>
        <dd>
            <span>{{nationality.phoneCode}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.nationality.image">Image</span></dt>
        <dd>
            <div *ngIf="nationality.imageId">
                <a [routerLink]="['/picture', nationality.imageId]">{{nationality.imageId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'nationality/'+ nationality.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
