@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/transparent-theme.scss';
@import '../../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.transparent-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($transparent-theme);
}
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}
.notification{
    font-size: 0.75em;
    line-height: 1.75em;
    white-space: normal !important;
    overflow: auto !important;
    text-overflow: unset !important;
    height: fit-content;
    border-bottom: 1px solid #e8e7e7;
    &.notRead{
        background-color: #e8e7e7;
    }
    padding: 16px;
    a{
        margin-left: 25px;
    }
    div{
        outline: 0;
    }
}

.no-notifications-icon{
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

.notificaciones-toolbar{
    padding: 8px 0px 8px 16px;
    color: white;
    background: #5a5a5a;
    margin-top: -8px;
}

.markRead{
    border: 1px solid rgb(189, 189, 189);
    height: 7px;
    width: 8px;
    margin-right: 3px;
    border-radius: 100%;
    margin-top: 0.5em;
}

mat-divider{
    margin: 5px 0px 10px 0px;
}

.smallanchor{
    font-size: 0.75em;
    line-height: 1.75em;
}

a, a:hover, a:visited{
    color: #0386e8;
    text-decoration: none;
}

.links-container{
    padding: 5px;
    margin-left: 30px;
}

.avatar{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 8px;
    margin-top: 5px;
}