<div fxFlex="300px">
    <h2>
        <span jhiTranslate="ichooseApp.notification.home.title">Notifications</span>
        <button class="btn btn-primary float-right jh-create-entity create-notification" [routerLink]="['/', { outlets: { popup: ['notification-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.notification.home.createLabel">
            Create new Notification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.notification.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="notifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parameters"><span jhiTranslate="ichooseApp.notification.parameters">Parameters</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="ichooseApp.notification.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="readDate"><span jhiTranslate="ichooseApp.notification.readDate">Read Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="ichooseApp.notification.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="restaurantId"><span jhiTranslate="ichooseApp.notification.restaurant">Restaurant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientId"><span jhiTranslate="ichooseApp.notification.client">Client</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notification of notifications ;trackBy: trackId">
                <td><a [routerLink]="['../notification', notification.id ]">{{notification.id}}</a></td>
                <td>{{notification.parameters.length}}</td>
                <td>{{notification.creationDate | date:'medium'}}</td>
                <td>{{notification.readDate | date:'medium'}}</td>
                <td>{{notification.type}}</td>
                <td>
                    <div *ngIf="notification.restaurantId">
                        <a [routerLink]="['../restaurant', notification.restaurantId  ]" >{{notification.restaurantId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="notification.clientId">
                        <a [routerLink]="['../client', notification.clientId  ]" >{{notification.clientId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../notification', notification.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'notification/'+ notification.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'notification/'+ notification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
   <!-- <div *ngIf="notifications && notifications.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>-->
</div>
