<div>
    <div class="notificaciones-toolbar">
        <b><small>Notificaciones</small></b>
    </div>
    <div *ngIf="notifications == null || notifications.length == 0" class="center-text">
        <img class="no-notifications-icon" src="../../../content/images/bell-smile.png">
        <small class="gray-text" ><b>¡No tienes nuevas notificaciones!</b></small>
        <br><br><br>
    </div>
    <div class="notification" [ngClass]="{'notRead': notification.readDate == null}" fxLayout="column" mat-menu-item *ngFor="let notification of notifications; let i = index" [attr.data-index]="i"
        [ngSwitch]="notification.type">
        <div fxLayout="column" *ngSwitchCase="'NEW_BOOKING'">
            <div fxLayout="row">
                <img *ngIf="notification.client && notification.client.picture" class="avatar" [src]="'data:' + notification.client.picture.contentType + ';base64,' + notification.client.picture.content"
                />
                <img *ngIf="notification.client == null || notification.client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png"
                />
                <div fxLayout="column" fxFlex="100%" [routerLink]="['/', { outlets: { popup: 'booking/'+ notification.parameters[0] } }]">
                    <b jhiTranslate="ichooseApp.notification.title.NEW_BOOKING">New booking</b>
                    <small class="gray-text">
                        Tiene una nueva reserva de {{ notification.client.firstName }} {{ notification.client.lastName }} para el día {{notification.parameters[1]
                        | date: 'dd MMMM'}} a las {{notification.parameters[1] | date: 'hh:mm'}} para {{notification.parameters[2]}} personas.
                    </small>
                </div>
                <span matTooltip="Marcar como leída" class="markRead" *ngIf="notification.readDate == null" (click)="markAsRead(notification, $event)"></span>
                <span matTooltip="Eliminar" *ngIf="notification.readDate" (click)="delete(notification, $event, i)" class="material-icons small-icon gray-text">delete</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="links-container">
                <small class="gray-text">{{notification.creationDate | date: 'dd MMM hh:mm'}}</small>
                <a [routerLink]="['/', { outlets: { popup: 'booking/'+ notification.parameters[0] + '/edit'} }]" replaceUrl="true">Asignar mesa</a>&nbsp;
                <a routerLink="booking">Ver reservas</a>
            </div>
        </div>
        <div fxLayout="column" *ngSwitchCase="'BILL_REQUEST'">
            <div fxLayout="row">
                <img *ngIf="notification.client && notification.client.picture" class="avatar" [src]="'data:' + notification.client.picture.contentType + ';base64,' + notification.client.picture.content"
                />
                <img *ngIf="notification.client == null || notification.client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png"
                />
                <div fxLayout="column" fxFlex="100%" [routerLink]="['/', { outlets: { popup: 'stay/'+ notification.parameters[0] } }]" replaceUrl="true">
                    <b jhiTranslate="ichooseApp.notification.title.BILL_REQUEST">Bill request</b>
                    <small class="gray-text">
                        {{ notification.client.firstName }} {{ notification.client.lastName }} de la mesa {{notification.parameters[1]}} ha solicitado
                        la cuenta.
                    </small>
                    <small class="gray-text">
                        Total a cobrar: $ {{notification.parameters[2]}}
                    </small>
                </div>
                <span matTooltip="Marcar como leída" class="markRead" *ngIf="notification.readDate == null" (click)="markAsRead(notification, $event)"></span>
                <span matTooltip="Eliminar" *ngIf="notification.readDate" (click)="delete(notification, $event, i)" class="material-icons small-icon gray-text">delete</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="links-container">
                <small class="gray-text">{{notification.creationDate | date: 'dd MMM hh:mm'}}</small>
                <a [routerLink]="['/', { outlets: { popup: ['tax-bill-new'] } }]" replaceUrl="true" queryParamsHandling="merge" [queryParams]="{stayId: notification.parameters[0]}">Facturar</a>&nbsp;
                <a [routerLink]="['/', { outlets: { popup: 'stay/'+ notification.parameters[0] + '/finish'} }]" replaceUrl="true">Finalizar estadía</a>
            </div>
        </div>
        <div fxLayout="column" *ngSwitchCase="'STAY_STARTED_BY_CLIENT'">
            <div fxLayout="row">
                <img *ngIf="notification.client && notification.client.picture" class="avatar" [src]="'data:' + notification.client.picture.contentType + ';base64,' + notification.client.picture.content"
                />
                <img *ngIf="notification.client == null || notification.client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png"
                />
                <div fxLayout="column" fxFlex="100%" [routerLink]="['/', { outlets: { popup: 'stay/'+ notification.parameters[0] + '/orders'} }]"
                    replaceUrl="true">
                    <b jhiTranslate="ichooseApp.notification.title.STAY_STARTED_BY_CLIENT">The client has arrived!</b>
                    <small class="gray-text">
                        {{ notification.client.firstName }} {{ notification.client.lastName }} se encuentra en la mesa {{notification.parameters[1]}}.
                        Son {{notification.parameters[2]}} personas
                    </small>
                </div>
                <span matTooltip="Marcar como leída" class="markRead" *ngIf="notification.readDate == null" (click)="markAsRead(notification, $event)"></span>
                <span matTooltip="Eliminar" *ngIf="notification.readDate" (click)="delete(notification, $event, i)" class="material-icons small-icon gray-text">delete</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="links-container">
                <small class="gray-text">{{notification.creationDate | date: 'dd MMM hh:mm'}}</small>
            </div>            
        </div>
        <div fxLayout="column" *ngSwitchCase="'ORDERS_CHANGED'">
            <div fxLayout="row">
                <img *ngIf="notification.client && notification.client.picture" class="avatar" [src]="'data:' + notification.client.picture.contentType + ';base64,' + notification.client.picture.content"
                />
                <img *ngIf="notification.client == null || notification.client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png"
                />
                <div fxLayout="column" fxFlex="100%" [routerLink]="['/', { outlets: { popup: 'booking/'+ notification.parameters[0] } }]">
                    <b jhiTranslate="ichooseApp.notification.title.ORDERS_CHANGED">The order has changed</b>
                    <small class="gray-text">
                        Hubo cambios en el pedido de la reserva {{notification.parameters[0]}} de {{ notification.client.firstName }} {{ notification.client.lastName
                        }}
                    </small>
                </div>
                <span matTooltip="Marcar como leída" class="markRead" *ngIf="notification.readDate == null" (click)="markAsRead(notification, $event)"></span>
                <span matTooltip="Eliminar" *ngIf="notification.readDate" (click)="delete(notification, $event, i)" class="material-icons small-icon gray-text">delete</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="links-container">
                <small class="gray-text">{{notification.creationDate | date: 'dd MMM hh:mm'}}</small>
            </div>
        </div>
        <div *ngSwitchDefault></div>
    </div>
    <div *ngIf="notifications.length > 0" fxLayout="row" fxLayoutAlign="center center">
        <a class="smallanchor" (click)="seeMore($event)">Ver más</a>
    </div>
</div>