
<div *ngIf="notification">
    <h2><span jhiTranslate="ichooseApp.notification.detail.title">Notification</span> {{notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.notification.parameters">Parameters</span></dt>
        <dd>
            <span>{{notification.parameters}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.notification.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{notification.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.notification.readDate">Read Date</span></dt>
        <dd>
            <span>{{notification.readDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.notification.type">Type</span></dt>
        <dd>
            <span>{{notification.type}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.notification.restaurant">Restaurant</span></dt>
        <dd>
            <div *ngIf="notification.restaurantId">
                <a [routerLink]="['/restaurant', notification.restaurantId]">{{notification.restaurantId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.notification.client">Client</span></dt>
        <dd>
            <div *ngIf="notification.clientId">
                <a [routerLink]="['/client', notification.clientId]">{{notification.clientId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'notification/'+ notification.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
