<div>
    <h2>
        <span jhiTranslate="ichooseApp.picture.home.title">Pictures</span>
        <button class="btn btn-primary float-right jh-create-entity create-picture" [routerLink]="['/', { outlets: { popup: ['picture-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.picture.home.createLabel">
            Create new Picture
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.picture.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pictures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="ichooseApp.picture.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contentType"><span jhiTranslate="ichooseApp.picture.contentType">Content Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="restaurantId"><span jhiTranslate="ichooseApp.picture.restaurant">Restaurant</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let picture of pictures ;trackBy: trackId">
                <td><a [routerLink]="['../picture', picture.id ]">{{picture.id}}</a></td>
                <td>
                    <a *ngIf="picture.content" (click)="openFile(picture.contentContentType, picture.content)">
                        <img [src]="'data:' + picture.contentContentType + ';base64,' + picture.content" style="max-height: 30px;" alt="picture image"/>
                    </a>
                    <span *ngIf="picture.content">{{picture.contentContentType}}, {{byteSize(picture.content)}}</span>
                </td>
                <td>{{picture.contentType}}</td>
                <td>
                    <div *ngIf="picture.restaurantId">
                        <a [routerLink]="['../restaurant', picture.restaurantId  ]" >{{picture.restaurantId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../picture', picture.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'picture/'+ picture.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'picture/'+ picture.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pictures && pictures.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
