
<div *ngIf="picture">
    <h2><span jhiTranslate="ichooseApp.picture.detail.title">Picture</span> {{picture.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.picture.content">Content</span></dt>
        <dd>
            <div *ngIf="picture.content">
                <a (click)="openFile(picture.contentContentType, picture.content)">
                    <img [src]="'data:' + picture.contentContentType + ';base64,' + picture.content" style="max-width: 100%;" alt="picture image"/>
                </a>
                {{picture.contentContentType}}, {{byteSize(picture.content)}}
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.picture.contentType">Content Type</span></dt>
        <dd>
            <span>{{picture.contentType}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.picture.restaurant">Restaurant</span></dt>
        <dd>
            <div *ngIf="picture.restaurantId">
                <a [routerLink]="['/restaurant', picture.restaurantId]">{{picture.restaurantId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'picture/'+ picture.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
