<span id="validAddress" style="display:none" jhiTranslate="ichooseApp.restaurant.validAddress"></span>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <!-- <form [formGroup]="firstFormGroup"> -->
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text">Nuevo Restaurante</h3>
        <div fxLayout="row"  fxLayoutAlign="end center" fxFlex="100%">
            <!-- Este volver es peligroso, porque si accedo al editar desde el navbar, el volver me va a redirigir a cualquier lado.-->
          <!--  <button type="submit"  mat-raised-button [routerLink]="['/']" ><span jhiTranslate="entity.action.back">Back</span> </button>-->

            <button type="submit" mat-button mat-raised-button [disabled]="editForm.form.invalid || isSaving || vali == false" (click)="save()">
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="start start" class="padding-panel">
        <div fxFlex="23%" fxLayout="column" fxLayoutAlign="start start">
            <h4 class="orange-text">Datos</h4>
            <mat-form-field fxFill >
                <input matInput type="text"  placeholder="{{ 'ichooseApp.restaurant.name' | translate }}" name="ctrlName" id="ctrlName" [(ngModel)]="restaurant.name"
                    required/>
                <mat-error *ngIf="ctrlName.errors?.required && ctrlName.touched || ctrlName.untouched" jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </mat-form-field>
            <mat-form-field fxFill hintLabel="{{ 'ichooseApp.restaurant.max255Characters' | translate }} ">
                <input matInput type="text" maxlength="255" placeholder="{{ 'ichooseApp.restaurant.description' | translate }}" name="description" id="field_description"
                    [(ngModel)]="restaurant.description" [ngModelOptions]="{standalone: true}" />
                    <mat-hint align="end">{{restaurant.description?.length || 0}}/255</mat-hint>
            </mat-form-field>
            <mat-form-field fxFill>
                <input matInput type="text" placeholder="CUIT" name="cuit" id="field_cuit" [(ngModel)]="restaurant.cuit" required/>
                <mat-error *ngIf="ctrlCuit.errors?.required && ctrlCuit.touched || ctrlCuit.untouched" jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </mat-form-field>
            <mat-form-field fxFill>
                <mat-select [(ngModel)]="restaurant.restaurantTypeId" placeholder="{{'ichooseApp.restaurant.restaurantType' | translate}}"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let restau of restauranttypes" [value]="restau.id">
                        {{ restau.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFill>
                <mat-select id="field_mealClassification" placeholder="{{'ichooseApp.restaurant.mealClassification' | translate}}" name="mealClassification"
                    [(ngModel)]="restaurant.mealClassifications" [ngModelOptions]="{standalone: true}" multiple>
                    <mat-option [value]="getSelected(restaurant.mealClassifications, mealClassificationOption)" *ngFor="let mealClassificationOption of mealclassifications; trackBy: trackMealClassificationById">{{mealClassificationOption.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFill>
                <input matInput type="text" placeholder="CBU" name="cbu" d="field_cbu" [(ngModel)]="restaurant.cbu" [ngModelOptions]="{standalone: true}"
                />
            </mat-form-field>
        </div>
        <div fxFlex="30%" fxFlexOffset="4%" fxLayout="column" fxLayoutAlign="start start">
            <h4 class="orange-text">Ubicación</h4>
            <mat-form-field fxFill>

                <!--       <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div> -->
                <input id="ctrlName" matInput placeholder="{{ 'ichooseApp.restaurant.searchAddress' | translate  }}" autocorrect="off" autocapitalize="off"
                    spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" required (keydown.enter)="onKeydown($event)">
                <span [hidden]="searchControl.value == null || searchControl.value.length == 0" matSuffix (click)="resetControl()">X</span>
                <!-- <div *ngIf="searchControl">prueba</div> -->
                <mat-error *ngIf="searchControl.errors?.required && 
                    searchControl.touched || searchControl.untouched" jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </mat-form-field>
            <agm-map *ngIf="restaurant && restaurant.location && restaurant.location.latitude != null && restaurant.location.longitude != null" [latitude]="restaurant.location.latitude" [longitude]="restaurant.location.longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="restaurant.location.latitude" [longitude]="restaurant.location.longitude"></agm-marker>
            </agm-map>
        </div>
        <div fxFlex="40%" fxFlexOffset="4%" fxLayout="column" fxLayoutAlign="start start" class="images-panel">
            <h4 class="orange-text">Imágenes</h4>
            <div fxLayout="row wrap" class="full-width" fxFlex="100px">
                <label class="recuadro" fxLayout="column" fxLayoutAlign="center center" fxFlex="30%" style="cursor:pointer" *ngIf="restaurant.pictures[0] as picture">
                    <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                    <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                    <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                    />
                </label>
                <label class="recuadro" fxLayout="column" fxLayoutAlign="center center" fxFlex="30%" fxFlexOffset="5%" style="cursor:pointer"
                    *ngIf="restaurant.pictures[1] as picture">
                    <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                    <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                    <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                    />
                </label>
                <label class="recuadro" fxFlex="30%" fxFlexOffset="5%" fxLayout="column" fxLayoutAlign="center center" style="cursor:pointer"
                    *ngIf="restaurant.pictures[2] as picture">
                    <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                    <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                    <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                    />
                </label>
            </div>
            <div fxLayout="row wrap" class="full-width" fxFlex="100px" fxFlexOffset="10px">
                <label class="recuadro" fxFlex="30%" fxLayout="column" fxLayoutAlign="center center" style="cursor:pointer" *ngIf="restaurant.pictures[3] as picture">
                    <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                    <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">    
                    <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                    />
                </label>
                <label class="recuadro" fxFlex="30%" fxFlexOffset="5%" fxLayout="column" fxLayoutAlign="center center" style="cursor:pointer"
                    *ngIf="restaurant.pictures[4] as picture">
                    <i class="material-icons gray-text" *ngIf="!picture.url">add</i>
                    <img [src]="picture.url" width="100%" height="100%" *ngIf="picture.url">
                    <input type="file" id="file_content" (change)="addPicture($event, picture)" accept="image/" style="height:0;visibility: hidden;"
                    />
                </label>
            </div>
            <h4 class="orange-text">Logo</h4>
            <div fxLayout="row wrap" fxFlex="100px" class="full-width">
                <label class="recuadro" fxFlex="30%" fxLayout="column" fxLayoutAlign="center center" style="cursor:pointer" *ngIf="restaurant.logo as logo">
                    <i class="material-icons gray-text" *ngIf="!logo.url">add</i>
                    <img [src]="logo.url" width="100%" height="100%" *ngIf="logo.url">
                    <input type="file" id="file_content" (change)="addPicture($event, logo)" accept="image/" style="height:0;visibility: hidden;"
                    />
                </label>
            </div>
        </div>
    </div>
</form>
<!-- </form> -->