agm-map {
    height: 310px;
    width: 29vw;
  }

  .imgLabel{
    width: 150px;
    margin: 50px;
    margin-left: 140px;
    margin-top: 100px;
  }

  .mat-raised-button{
    position: relative;
    margin: 1vh;
  }
  
  .inputMap{
    position: relative;
    width: 100%;
    bottom: 180px;
  }
  .buttonPosition{
    position: absolute;
    position: top-right;
  }