
<div *ngIf="restaurant">
    <h2><span jhiTranslate="ichooseApp.restaurant.detail.title">Restaurant</span> {{restaurant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.restaurant.name">Name</span></dt>
        <dd>
            <span>{{restaurant.name}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.restaurant.description">Description</span></dt>
        <dd>
            <span>{{restaurant.description}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.restaurant.cuit">Cuit</span></dt>
        <dd>
            <span>{{restaurant.cuit}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.restaurant.cbu">Cbu</span></dt>
        <dd>
            <span>{{restaurant.cbu}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.restaurant.location">Location</span></dt>
        <dd>
            <div *ngIf="restaurant.locationId">
                <a [routerLink]="['/location', restaurant.locationId]">{{restaurant.locationId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.restaurant.restaurantType">Restaurant Type</span></dt>
        <dd>
            <div *ngIf="restaurant.restaurantTypeId">
                <a [routerLink]="['/restaurant-type', restaurant.restaurantTypeId]">{{restaurant.restaurantTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.restaurant.mealClassification">Meal Classification</span></dt>
        <dd>
            <span *ngFor="let mealClassification of restaurant.mealClassifications; let last = last">
                <a [routerLink]="['/meal-classification', mealClassification?.id ]">{{mealClassification.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'restaurant/'+ restaurant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
