<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons orange-text">close</mat-icon>
</button>
<div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
    <mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
        <h3 class="gray-text">Cambiar sector</h3>
    </mat-dialog-title>
    <h4 class="orange-text">Mesa&nbsp;{{table.number}}</h4>
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
            <mat-select placeholder="Sector" [(ngModel)]="table.sectorId">
                <mat-option *ngFor="let sectorOption of sectors" [value]="sectorOption.id">
                    {{ sectorOption.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1"  mat-dialog-close (click)="clear()">
                <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-raised-button class="ichoose-theme" color="primary" tabindex="-1" (click)="save()">
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </mat-dialog-actions>
</div>