<div class="main-container">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text"><span jhiTranslate="ichooseApp.clientTable.home.title"></span> {{sectorName}}</h3>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
            <button mat-raised-button (click) = "back()" ><span jhiTranslate="entity.action.back">Back</span> </button>
            <button type="submit" mat-button mat-raised-button [routerLink]="['/', { outlets: { popup: ['client-table-new'] } }]" [queryParams]="{ sectorId: sectorId }">
                <span jhiTranslate="ichooseApp.clientTable.home.createLabel">Create new Table</span>
            </button>
        </div>
    </mat-toolbar>
    <div class="padding-panel" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput (keyup)="search($event.target.value)" placeholder="Buscar mesa">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-table #table [dataSource]="dataSource" fxFlex="60%">
                <!-- number Column -->
                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.clientTable.number" class="center-text">Number</mat-header-cell>
                    <mat-cell *matCellDef="let clientTable" class="center-text"> {{clientTable.number}} </mat-cell>
                </ng-container>
                <!-- chairs Column -->
                <ng-container matColumnDef="chairs">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.clientTable.chairs" class="center-text">Chairs</mat-header-cell>
                    <mat-cell *matCellDef="let clientTable" class="center-text"> {{clientTable.chairs}} </mat-cell>
                </ng-container>

                <!-- modifiable Column -->
                <ng-container matColumnDef="modifiable">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.clientTable.modifiable" class="center-text">Modifiable</mat-header-cell>
                    <mat-cell *matCellDef="let clientTable" class="center-text"> {{clientTable.modifiable ? 'Sí' : 'No'}} </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef class="center-text"> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let clientTable">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-icon-button 
                                    type="submit" 
                                    [routerLink]="['/', { outlets: { popup: 'client-table/'+ clientTable.id + '/change-sector'} }]">
                                <mat-icon class="material-icons" matTooltip="Cambiar de salón">compare_arrows</mat-icon>
                            </button>
                            <button mat-icon-button 
                                    type="submit" 
                                    [routerLink]="['/', { outlets: { popup: 'client-table/'+ clientTable.id + '/edit'} }]"
                                    replaceUrl="true" 
                                    queryParamsHandling="merge">
                                <mat-icon class="material-icons" matTooltip="Editar">mode_edit</mat-icon>
                            </button>
                            <button [disabled]="clientTable.status!='FREE'"
                                    mat-icon-button
                                    type="submit" 
                                    [routerLink]="['/', { outlets: { popup: 'client-table/'+ clientTable.id + '/delete'} }]"
                                    replaceUrl="true" 
                                    queryParamsHandling="merge">
                                <mat-icon class="material-icons" matTooltip="Borrar">delete</mat-icon>
                            </button>
                            
                            <button mat-icon-button 
                            type="submit" 
                            [routerLink]="['/', { outlets: { popup: 'client-table/'+ clientTable.id + '/qr'} }]"
                            replaceUrl="true" 
                            queryParamsHandling="merge">
                            <i class="fa fa-qrcode fa-2x" aria-hidden="true"></i>
                    </button>

                            
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <br><br>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>
