
<div *ngIf="clientTable">
    <h2><span jhiTranslate="ichooseApp.clientTable.detail.title">Client Table</span> {{clientTable.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.clientTable.number">Number</span></dt>
        <dd>
            <span>{{clientTable.number}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.clientTable.chairs">Chairs</span></dt>
        <dd>
            <span>{{clientTable.chairs}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.clientTable.modifiable">Modifiable</span></dt>
        <dd>
            <span>{{clientTable.modifiable}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.clientTable.deleteDate">Delete Date</span></dt>
        <dd>
            <span>{{clientTable.deleteDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.clientTable.sector">Sector</span></dt>
        <dd>
            <div *ngIf="clientTable.sectorId">
                <a [routerLink]="['/sector', clientTable.sectorId]">{{clientTable.sectorId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.clientTable.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'ichooseApp.clientTable.statusOption.' + clientTable.status}}">{{clientTable.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-table/'+ clientTable.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
