<button class="noprint" mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons orange-text noprint">close</mat-icon>

</button>

<br>
<div fxLayout="row" fxLayoutAlign="center center">
    <img class="imgSize"  src="../../../content/images/ichoose-orange.png">
</div>
<br>

<br>
<div fxLayout="row" fxLayoutAlign="center center">
<qrcode [qrdata]="qrCode()" [size]="300" [level]="'M'"></qrcode>
</div>
<br>

<mat-dialog-actions class="noprint" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button class="ichoose-theme noprint" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
        <span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button mat-raised-button class="ichoose-theme noprint" color="primary" (click)="print()" tabindex="-1" >
        <span jhiTranslate="entity.action.print">Print</span>
    </button>
</mat-dialog-actions>

