<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons orange-text">close</mat-icon>
</button>
<span id="tableNumber" style="display:none" jhiTranslate="ichooseApp.clientTable.tableNumber"></span>
<span id="errorTable" style="display:none" jhiTranslate="ichooseApp.clientTable.errorTable"></span>
<div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
    <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
        <h2 class="gray-text" *ngIf="!clientTable.id">Nueva mesa</h2>
        <h2 class="gray-text" *ngIf="clientTable.id">Editar mesa</h2>
        <br>
    </mat-dialog-title>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div fxLayout="column" fxLayoutAlign="center start">
            <mat-form-field fxFill>
                <input matInput type="text" placeholder="Numero de Mesa" name="number" id="field_number"
                       [(ngModel)]="clientTable.number" required/>
                       <mat-error *ngIf="tableNum.errors?.required && tableNum.touched || tableNum.untouched " jhiTranslate="entity.validation.required">
                            This field is required
                        </mat-error>
            </mat-form-field>
            <mat-form-field fxFill>
                <input matInput type="number" placeholder="Cantidad de Sillas" class="form-control" name="chairs" id="field_chairs"
                       [(ngModel)]="clientTable.chairs" required/>
                       <mat-error *ngIf="chairQuan.errors?.required && chairQuan.touched || chairQuan.untouched " jhiTranslate="entity.validation.required">
                            This field is required
                        </mat-error>
            </mat-form-field>
            <mat-slide-toggle [(ngModel)]="clientTable.modifiable"  name="modifiable">Modificable</mat-slide-toggle>
            <br><br>
            <mat-form-field fxFill *ngIf="clientTable.id">
                <mat-select placeholder="Estado" [(ngModel)]="clientTable.status" name="status">
                    <mat-option *ngFor="let option of statusOptions" [value]="option.key">
                        {{ option.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1"  mat-dialog-close (click)="clear()">
                    <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" mat-button mat-raised-button [disabled]="editForm.form.invalid || isSaving" tabindex="-1" (click)="save()" color="primary">
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
            <br><br>
        </mat-dialog-actions>
    </form>
</div>