/* ==========================================================================
Main page styles
======================================================*/

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}

mat-dialog-title{
  h1{
    font-weight: 400;
  }
}

@media print{
  .noprint{
      display:none;
  }
}

.imgSize{
  width: 30vh;
}

.mat-raised-button{
  position: relative;
  margin: 1vh;
}