
<div *ngIf="measuringUnit">
    <h2><span jhiTranslate="ichooseApp.measuringUnit.detail.title">Measuring Unit</span> {{measuringUnit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.measuringUnit.name">Name</span></dt>
        <dd>
            <span>{{measuringUnit.name}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.measuringUnit.code">Code</span></dt>
        <dd>
            <span>{{measuringUnit.code}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'measuring-unit/'+ measuringUnit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
