<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStayHistoryLabel" jhiTranslate="ichooseApp.stayHistory.home.createOrEditLabel">Create or edit a Stay History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stayHistory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stayHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.stayHistory.numberOfStays" for="field_numberOfStays">Number Of Stays</label>
            <input type="number" class="form-control" name="numberOfStays" id="field_numberOfStays"
                [(ngModel)]="stayHistory.numberOfStays" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.stayHistory.averageAmount" for="field_averageAmount">Average Amount</label>
            <input type="number" class="form-control" name="averageAmount" id="field_averageAmount"
                [(ngModel)]="stayHistory.averageAmount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.stayHistory.lastStay" for="field_lastStay">Last Stay</label>
            <div class="d-flex">
                <input id="field_lastStay" type="datetime-local" class="form-control" name="lastStay" [(ngModel)]="stayHistory.lastStay"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.stayHistory.restaurant" for="field_restaurant">Restaurant</label>
            <select class="form-control" id="field_restaurant" name="restaurant" [(ngModel)]="stayHistory.restaurantId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.stayHistory.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="stayHistory.clientId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
