<div class="main-container">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text">
            <span jhiTranslate="ichooseApp.stayHistory.home.title"></span>
        </h3>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
            <button type="submit" [disabled]="!atLeastOneSelected()" mat-button mat-raised-button (click)="openModalGroup()">
                <span jhiTranslate="ichooseApp.clientGroup.home.createLabel">Create new Group</span>
            </button>
        </div>
    </mat-toolbar>
    <div class="padding-panel" fxLayout="row" fxLayoutAlign="start start">
        <div fxLayout="column" fxFlex="17%">
            <b>FILTROS</b>
            <br>
            <small CLASS="gray-text">
                <b>CONSUMO PROMEDIO</b>
            </small>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-form-field>
                    <input matInput type="number" placeholder="Min" [(ngModel)]="minAverageAmount" min="0">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Máx" [(ngModel)]="maxAverageAmount" min="0">
                </mat-form-field>
            </div>
            <small CLASS="gray-text">
                <b>CANTIDAD DE VISITAS</b>
            </small>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-form-field>
                    <input matInput type="number" placeholder="Min" [(ngModel)]="minNumberOfStays" min="0">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Máx" [(ngModel)]="maxNumberOfStays" min="0">
                </mat-form-field>
            </div>
            <small CLASS="gray-text">
                <b>NACIONALIDAD</b>
            </small>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <ng-select class="ichoose-theme" color="primary" [(ngModel)]="nationalitiesFilter" [items]="nationalities" [multiple]="true"
                    [closeOnSelect]="false" bindValue="id" bindLabel="nameEn" [ngModelOptions]="{standalone: true}">
                </ng-select>
            </div>
            <small CLASS="gray-text">
                <b>CUMPLEAÑOS</b>
            </small>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-form-field>
                    <input matInput [owlDateTime]="dt1" [selectMode]="'range'" name="date" format="yyyy-MM-dd" placeholder="Cumpleaños" [(ngModel)]="rangeBirthdate"
                    />
                    <span matSuffix [owlDateTimeTrigger]="dt1">
                        <i class="material-icons">
                            calendar_today
                        </i>
                    </span>
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </mat-form-field>
            </div>
            <small CLASS="gray-text">
                <b>ÚLTIMA VISITA</b>
            </small>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-form-field>
                    <input matInput [owlDateTime]="dt3" name="date" [selectMode]="'range'" format="yyyy-MM-dd"  placeholder="Última visita" [(ngModel)]="rangeStay" />
                    <span matSuffix [owlDateTimeTrigger]="dt3">
                        <i class="material-icons">
                            calendar_today
                        </i>
                    </span>
                    <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                </mat-form-field>
            </div>
            <mat-checkbox>Clientes nuevos</mat-checkbox>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button type="submit" fxFlex="90px" class="ichoose-theme" color="accent" mat-button mat-raised-button (click)="cleanFilters()">
                    <span>LIMPIAR</span>
                </button>
                <button type="submit" fxFlex="90px" fxFlexOffset="5px" class="ichoose-theme" color="primary" mat-button mat-raised-button (click)="applyFilters()">
                    <span>APLICAR</span>
                </button>
            </div>
        </div>
        <div fxLayout="column" fxFlex="80%" fxFlexOffset="3%">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-table #table [dataSource]="dataSource" fxFlex="100%" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                    [infiniteScrollDistance]="0" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">

                    <!-- picture Column -->
                    <ng-container matColumnDef="picture">
                        <mat-header-cell *matHeaderCellDef class="center-text"></mat-header-cell>
                        <mat-cell *matCellDef="let stayHistory" class="center-text">
                            <img *ngIf="stayHistory.client.picture && stayHistory.client.picture.contentType != null && stayHistory.client.picture.contentType.length > 0"
                                [src]="'data:' + stayHistory.client.picture.contentType + ';base64,' + stayHistory.client.picture.content"
                                class="avatar" alt="picture image" />
                            <img *ngIf="stayHistory.client.picture == null || stayHistory.client.picture.contentType == null" class="avatar" src="../../../content/images/profile-picture-icon.png">
                        </mat-cell>
                    </ng-container>

                    <!-- firstName Column -->
                    <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef class="center-text" jhiSortBy="client.firstName">
                            <span jhiTranslate="ichooseApp.client.firstNameLastName">First Name</span>
                            <span class="fa fa-sort"></span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let stayHistory" class="center-text">
                            <span *ngIf="stayHistory.client.firstName != null"> {{stayHistory.client.firstName}} {{stayHistory.client.lastName}}</span> 
                            <span *ngIf="stayHistory.client.firstName == null"> {{stayHistory.client.login}}</span> 
                        </mat-cell>
                    </ng-container>

                    <!-- birthdate Column -->
                    <ng-container matColumnDef="birthdate">
                        <mat-header-cell *matHeaderCellDef jhiSortBy="client.birthdate" class="center-text">
                            <span jhiTranslate="ichooseApp.client.birthdate">Birthdate</span>
                            <span class="fa fa-sort"></span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let stayHistory" class="center-text"> {{stayHistory.client.birthdate | date: 'dd/MM/yyyy'}} </mat-cell>
                    </ng-container>

                    <!-- lastStay Column -->
                    <ng-container matColumnDef="lastStay">
                        <mat-header-cell *matHeaderCellDef jhiSortBy="lastStay" class="center-text">
                            <span jhiTranslate="ichooseApp.stayHistory.lastStay">Last Stay</span>
                            <span class="fa fa-sort"></span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let stayHistory" class="center-text"> {{stayHistory.lastStay  | date: 'dd/MM/yyyy HH:mm'}} </mat-cell>
                    </ng-container>

                    <!-- numberOfStays Column -->
                    <ng-container matColumnDef="numberOfStays">
                        <mat-header-cell *matHeaderCellDef jhiSortBy="numberOfStays" class="center-text">
                            <span jhiTranslate="ichooseApp.stayHistory.numberOfStays">Number of Stays</span>
                            <span class="fa fa-sort"></span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let stayHistory" class="center-text"> {{stayHistory.numberOfStays}} </mat-cell>
                    </ng-container>

                    <!-- nationality Column -->
                    <ng-container matColumnDef="nationality">
                        <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.client.nationality" class="center-text">Nationality</mat-header-cell>
                        <mat-cell *matCellDef="let stayHistory" class="center-text" matTooltip="{{stayHistory.client.nationality  ? stayHistory.client.nationality.nameEn : ''}}">
                            <span *ngIf="stayHistory.client.nationality" class="flag-icon flag-icon-{{stayHistory.client.nationality.iso2 | lowercase}}"></span>
                        </mat-cell>

                    </ng-container>

                    <!-- averageAmount Column -->
                    <ng-container matColumnDef="averageAmount">
                        <mat-header-cell *matHeaderCellDef jhiSortBy="averageAmount" class="center-text">
                            <span jhiTranslate="ichooseApp.stayHistory.averageAmount">Average Amount</span>
                            <span class="fa fa-sort"></span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let stayHistory" class="center-text">$ {{stayHistory.averageAmount}} </mat-cell>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef class="center-text" class="checkbox-cell">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-checkbox (change)="checkAll($event)" disableRipple="true" [(ngModel)]="isCheckAllSelected"></mat-checkbox>
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let stayHistory" class="checkbox-cell">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-checkbox [(ngModel)]="stayHistory.selected"></mat-checkbox>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <br>
    </div>
</div>
<!--<div>
    <h2>
        <span jhiTranslate="ichooseApp.stayHistory.home.title">Stay Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-stay-history" [routerLink]="['/', { outlets: { popup: ['stay-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.stayHistory.home.createLabel">
            Create new Stay History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.stayHistory.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stayHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numberOfStays"><span jhiTranslate="ichooseApp.stayHistory.numberOfStays">Number Of Stays</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="averageAmount"><span jhiTranslate="ichooseApp.stayHistory.averageAmount">Average Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastStay"><span jhiTranslate="ichooseApp.stayHistory.lastStay">Last Stay</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="restaurantId"><span jhiTranslate="ichooseApp.stayHistory.restaurant">Restaurant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientId"><span jhiTranslate="ichooseApp.stayHistory.client">Client</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let stayHistory of stayHistories ;trackBy: trackId">
                <td><a [routerLink]="['../stay-history', stayHistory.id ]">{{stayHistory.id}}</a></td>
                <td>{{stayHistory.numberOfStays}}</td>
                <td>{{stayHistory.averageAmount}}</td>
                <td>{{stayHistory.lastStay | date:'medium'}}</td>
                <td>
                    <div *ngIf="stayHistory.restaurantId">
                        <a [routerLink]="['../restaurant', stayHistory.restaurantId  ]" >{{stayHistory.restaurantId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stayHistory.clientId">
                        <a [routerLink]="['../client', stayHistory.clientId  ]" >{{stayHistory.clientId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stay-history', stayHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stay-history/'+ stayHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stay-history/'+ stayHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>-->