
<div *ngIf="stayHistory">
    <h2><span jhiTranslate="ichooseApp.stayHistory.detail.title">Stay History</span> {{stayHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.stayHistory.numberOfStays">Number Of Stays</span></dt>
        <dd>
            <span>{{stayHistory.numberOfStays}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.stayHistory.averageAmount">Average Amount</span></dt>
        <dd>
            <span>{{stayHistory.averageAmount}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.stayHistory.lastStay">Last Stay</span></dt>
        <dd>
            <span>{{stayHistory.lastStay | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.stayHistory.restaurant">Restaurant</span></dt>
        <dd>
            <div *ngIf="stayHistory.restaurantId">
                <a [routerLink]="['/restaurant', stayHistory.restaurantId]">{{stayHistory.restaurantId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.stayHistory.client">Client</span></dt>
        <dd>
            <div *ngIf="stayHistory.clientId">
                <a [routerLink]="['/client', stayHistory.clientId]">{{stayHistory.clientId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stay-history/'+ stayHistory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
