
<div *ngIf="sector">
    <h2><span jhiTranslate="ichooseApp.sector.detail.title">Sector</span> {{sector.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.sector.name">Name</span></dt>
        <dd>
            <span>{{sector.name}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.sector.accesibility">Accesibility</span></dt>
        <dd>
            <span>{{sector.accesibility}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.sector.deleteDate">Delete Date</span></dt>
        <dd>
            <span>{{sector.deleteDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.sector.restaurant">Restaurant</span></dt>
        <dd>
            <div *ngIf="sector.restaurantId">
                <a [routerLink]="['/restaurant', sector.restaurantId]">{{sector.restaurantId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.sector.location">Location</span></dt>
        <dd>
            <div *ngIf="sector.locationId">
                <a [routerLink]="['/sector-location', sector.locationId]">{{sector.locationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sector/'+ sector.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
