<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons orange-text">close</mat-icon>
</button>
<div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
    <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
        <h2 class="gray-text" *ngIf="!sector.id">Nuevo sector</h2>
        <h2 class="gray-text" *ngIf="sector.id">Editar sector</h2>
        <br>
    </mat-dialog-title>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div fxLayout="column" fxLayoutAlign="center start">
            <mat-form-field fxFill>
                <input matInput type="text" placeholder="{{ 'ichooseApp.sector.name' | translate }}" name="name" id="field_name" tabindex="-1" [(ngModel)]="sector.name" required/>
                <mat-error *ngIf="nameFormControl.errors?.required && nameFormControl.touched || nameFormControl.untouched " jhiTranslate="entity.validation.required">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select [(ngModel)]="sector.locationId" placeholder="{{'ichooseApp.sector.location' | translate }}" tabindex="-1" name="location">
                    <mat-option *ngFor="let location of sectorlocations; trackBy: trackSectorLocationById" [value]="location.id">
                        {{ location.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-checkbox [(ngModel)]="sector.accesibility" name="accessibility">Accesibilidad</mat-checkbox>
        </div>
        <br>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1"  mat-dialog-close (click)="clear()">
                    <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" mat-button mat-raised-button [disabled]="editForm.form.invalid || isSaving" (click)="save()" color="primary">
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
            <br><br>
        </mat-dialog-actions>
    </form>
</div>
<!--<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySectorLabel" jhiTranslate="ichooseApp.sector.home.createOrEditLabel">Create or edit a Sector</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sector.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sector.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.sector.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="sector.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.sector.accesibility" for="field_accesibility">Accesibility</label>
            <input type="checkbox" class="form-control" name="accesibility" id="field_accesibility"
                [(ngModel)]="sector.accesibility" />
            <div [hidden]="!(editForm.controls.accesibility?.dirty && editForm.controls.accesibility?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accesibility?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.sector.deleteDate" for="field_deleteDate">Delete Date</label>
            <div class="d-flex">
                <input id="field_deleteDate" type="datetime-local" class="form-control" name="deleteDate" [(ngModel)]="sector.deleteDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.sector.restaurant" for="field_restaurant">Restaurant</label>
            <select class="form-control" id="field_restaurant" name="restaurant" [(ngModel)]="sector.restaurantId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.sector.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="sector.locationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sectorLocationOption.id" *ngFor="let sectorLocationOption of sectorlocations; trackBy: trackSectorLocationById">{{sectorLocationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>-->
