<div class="main-container">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
    <h3 class="orange-text">Sectores</h3>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
        <button type="submit" mat-button mat-raised-button [routerLink]="['/', { outlets: { popup: ['sector-new'] } }]">
            <span jhiTranslate="ichooseApp.sector.home.createLabel">Create new Sector</span>
        </button>
    </div>
</mat-toolbar>
<div class="padding-panel">
    <div fxFill fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput (keyup)="search($event.target.value)" placeholder="Buscar sector">
        </mat-form-field>
    </div>
    <br>
    <div fxFill fxLayout="row" fxLayoutAlign="center centere" fxFill>
        <mat-table #table [dataSource]="dataSource" fxFlex="70%">
            <!-- name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.sector.name" class="center-text">Name</mat-header-cell>
                <mat-cell *matCellDef="let sector" class="center-text"> {{sector.name}} </mat-cell>
            </ng-container>
            <!-- accesibility Column -->
            <ng-container matColumnDef="accesibility">
                <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.sector.accesibility" class="center-text">Accessibility</mat-header-cell>
                <mat-cell *matCellDef="let sector" class="center-text"> {{sector.accesibility ? 'Sí' : 'No'}} </mat-cell>
            </ng-container>

            <!-- locationId Column -->
            <ng-container matColumnDef="locationId">
                <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.sector.location" class="center-text">Location</mat-header-cell>
                <mat-cell *matCellDef="let sector" class="center-text"> {{sector.locationId ? sector.locationId : '-' }} </mat-cell>
            </ng-container>

            <!-- tables Column -->
            <ng-container matColumnDef="tables">
                <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.sector.tables" class="center-text">Cantidad de mesas</mat-header-cell>
                <mat-cell *matCellDef="let sector" class="center-text"> {{sector.tables ? sector.tables : '-'}} </mat-cell>
            </ng-container>
            
            <!-- Actions Column -->
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef jhiTranslate="entity.action.options" class="center-text"> Actions </mat-header-cell>
                <mat-cell *matCellDef="let sector">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-icon-button 
                            type="submit" 
                            [routerLink]="['../sector/'+ sector.id + '/client-table']"
                            replaceUrl="true" 
                            queryParamsHandling="merge">
                            <mat-icon class="material-icons" matTooltip="Configurar mesas">view_carousel</mat-icon>
                        </button>
                        <button mat-icon-button 
                                type="submit" 
                                [routerLink]="['/', { outlets: { popup: 'sector/'+ sector.id + '/edit'} }]" 
                                replaceUrl="true" 
                                queryParamsHandling="merge">
                            <mat-icon class="material-icons" matTooltip="Editar">mode_edit</mat-icon>
                        </button>
                        <button class="dark-button"
                                [disabled]="sector.tables>0"
                                mat-icon-button
                                type="submit" 
                                [routerLink]="['/', { outlets: { popup: 'sector/'+ sector.id + '/delete'} }]"
                                replaceUrl="true" 
                                queryParamsHandling="merge">
                            <mat-icon class="material-icons" matTooltip="Borrar">delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
</div>
<!--
<div>
    <h2>
        <span jhiTranslate="ichooseApp.sector.home.title">Sectors</span>
        <button class="btn btn-primary float-right jh-create-entity create-sector" [routerLink]="['/', { outlets: { popup: ['sector-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.sector.home.createLabel">
            Create new Sector
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.sector.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sectors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="ichooseApp.sector.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accesibility"><span jhiTranslate="ichooseApp.sector.accesibility">Accesibility</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deleteDate"><span jhiTranslate="ichooseApp.sector.deleteDate">Delete Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="restaurantId"><span jhiTranslate="ichooseApp.sector.restaurant">Restaurant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="locationId"><span jhiTranslate="ichooseApp.sector.location">Location</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sector of sectors ;trackBy: trackId">
                <td><a [routerLink]="['../sector', sector.id ]">{{sector.id}}</a></td>
                <td>{{sector.name}}</td>
                <td>{{sector.accesibility}}</td>
                <td>{{sector.deleteDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="sector.restaurantId">
                        <a [routerLink]="['../restaurant', sector.restaurantId  ]" >{{sector.restaurantId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sector.locationId">
                        <a [routerLink]="['../sector-location', sector.locationId  ]" >{{sector.locationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sector', sector.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sector/'+ sector.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sector/'+ sector.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sectors && sectors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>-->
