<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons orange-text">close</mat-icon>
</button>
<div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
    <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
        <h2 class="gray-text">{{sector.name}}</h2>
    </mat-dialog-title>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h4 class="gray-text light-text" jhiTranslate="ichooseApp.sector.delete.question">Are you sure you want to delete this Sector?</h4>
    </div>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1"  mat-dialog-close (click)="clear()">
                <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-raised-button class="ichoose-theme" color="primary" tabindex="-1" (click)="confirmDelete(sector.id)">
            <span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </mat-dialog-actions>
</div>