<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon (click)="clear()" class="material-icons">close</mat-icon>
</button>
<div class="ichoose-theme medium-dialog">
    <mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
        <h2>{{stay.table.number}}</h2>
    </mat-dialog-title>

    <div fxLayout="row" fxLayoutAlign="center center" class="gray-text">
        <small class="material-icons">people</small>
        <small> &nbsp;{{stay.people}}&nbsp; &nbsp;&nbsp;</small>
        <small class="material-icons ">alarm</small>
        <small> &nbsp;{{ min }} : {{sec}} </small>
    </div>
    <small class="gray-text regular-text">COMENSALES</small>
    <br>
    <br>
    <div fxLayout="row" fxFill>
        <div *ngFor="let client of stay.diners" matTooltip="{{client.firstName}} {{client.lastName}}" style="margin-right: 5px; height: 35px;">
            <img *ngIf="client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png">
            <img *ngIf="client.picture" class="avatar" [src]="'data:' + client.picture.contentType + ';base64,' + client.picture.content"
                style="max-width: 100%;" alt="picture image" />
        </div>
    </div>
    <br>
    <small class="gray-text regular-text">ELEGIR MENÚ</small>
    <br>
    <div fxLayout="row" fxFill>
        <mat-form-field fxFlex="65%">
            <input id="field_clientTable" matInput placeholder="{{ 'ichooseApp.menu.home.title' | translate }}" name="menu" [matAutocomplete]="auto"
                [(ngModel)]="selectedMenu" [formControl]="menuCtrl">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let menu of filteredMenus | async" [value]="menu">
                    <img class="option-image" [src]="menu.pictures[0].url" />
                    <small class="option-text">{{ menu.name }} </small>
                    <b class="option-price"> ${{ menu.price | number:'1.2-2' }}</b>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field fxFlex="20%" fxFlexOffset="3%">
            <input matInput placeholder="{{ 'ichooseApp.menu.quantity' | translate }}" type="number" [(ngModel)]="quantity">
        </mat-form-field>
        <button mat-mini-fab class="ichoose-theme" color="primary" [disabled]="selectedMenu == undefined || selectedMenu.id == undefined || quantity < 1"
            (click)="addMenuList()" fxFlexOffset="5%">
            <i class="material-icons">add</i>
        </button>
    </div>
    <br>
    <small class="gray-text regular-text">LISTA DE CONSUMOS</small>
    <br>
    <mat-table #table [dataSource]="dataSource" fxFill>
        <ng-container matColumnDef="Cantidad">
            <mat-header-cell *matHeaderCellDef fxFlex="10%">
                <span jhiTranslate="ichooseApp.stay.quantity"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let order" fxFlex="10%"> {{order.quantity}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef fxFlex="40%">
                <span jhiTranslate="ichooseApp.menu.name"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let order" fxFlex="40%">
                <small>{{order.menu.name}}</small>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Precio unitario">
            <mat-header-cell *matHeaderCellDef fxFlex="20%">
                <span jhiTranslate="ichooseApp.stay.unitPrice"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let order" fxFlex="20%">
                <small>$ {{order.price | number:'1.2-2' }}</small>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Precio total">
            <mat-header-cell *matHeaderCellDef fxFlex="20%">
                <span jhiTranslate="ichooseApp.stay.totalPrice"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let order" fxFlex="20%">
                <small>$ {{calculateStayOrderAmount(order) | number: '1.2-2' }}</small>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Released">
            <mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="ichooseApp.stay.released"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let order">
                <div *ngIf="order.released == null">
                    <i (click)="markAsReleased(order)" class="material-icons mat-info-text" style="cursor:pointer">
                        access_time
                    </i>
                    <i (click)="removeMenulist(order)" class="material-icons mat-warn-text" style="cursor:pointer">
                        close
                    </i>
                </div>
                <div *ngIf="order.released != null">
                    <i class="material-icons mat-success-text">check</i>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <br>
    <small class="gray-text regular-text">LISTA DE DESCUENTOS</small>
    <br>

    <div fxLayout="row" fxLayoutAlign="space-around center">

        <!-- <div fxLayout="column" fxLayoutAlign="center start"> -->
        <!--  -->

        <!-- comienzo lista -->

        <mat-table *ngIf="stay.discounts.length > 0" #table [dataSource]="discountData" fxFlex="60%">
            <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef fxFlex="60%">
                    <span jhiTranslate="ichooseApp.stay.name"></span>
                </mat-header-cell>
                <mat-cell *matCellDef="let x" fxFlex="60%">
                    <small> {{x.description}} </small>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Descuento">
                <mat-header-cell *matHeaderCellDef fxFlex="40%">
                    <span jhiTranslate="ichooseApp.stay.discount"></span>
                </mat-header-cell>
                <mat-cell *matCellDef="let x" fxFlex="40%">
                    <small> {{x.amount | number: '1.2-2'}} </small>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="discountTable"></mat-header-row>
            <mat-row *matRowDef="let row; columns: discountTable;"></mat-row>

        </mat-table>

        <mat-divider></mat-divider>

        <div fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span>TOTAL: &nbsp;&nbsp;</span>
                <h2> $ {{stay.amount | number: '1.2-2' }}</h2>
            </div>

        </div>
    </div>
</div>