<mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
    <h3 class="orange-text">Dashboard de estadías</h3>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="90%">
        <button type="submit" mat-button mat-raised-button [routerLink]="['/stay']">
            <span>Historial</span>
        </button>&nbsp;
        <button type="submit" mat-button mat-raised-button [routerLink]="['/booking']">
            <span jhiTranslate="ichooseApp.booking.home.title">Bookings</span>
        </button>&nbsp;
        <button type="submit" mat-button mat-raised-button [routerLink]="['/', { outlets: { popup: ['booking-new'] } }]">
            <span jhiTranslate="ichooseApp.booking.home.createLabel">Create new Booking</span>
        </button>&nbsp;
        <button type="submit" mat-button mat-raised-button>
            <span>Cerrar caja</span>
        </button>
    </div>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex="65%">
        <div fxLayout="column" class="panel-mesas">
            <mat-tab-group (selectedTabChange)="changeVisibilityOnSectors($event)">
                <mat-tab label="Todas"></mat-tab>
                <mat-tab *ngFor="let sector of sectors" label="{{sector.name}}"></mat-tab>
            </mat-tab-group>
            <mat-list>
                <div *ngFor="let sector of sectors" [hidden]="!sector.visible">
                    <div mat-subheader>
                        <h2 fxFlex="20%">{{sector.name}}</h2> &nbsp;
                        <mat-chip-list fxFlex="80%">
                            <mat-chip color="warn" selected="true" matTooltip="Mesas ocupadas">{{getNumberOfTablesWithStatus(sector, 'BUSY')}}</mat-chip>
                            <mat-chip color="primary" selected="true" matTooltip="Mesas reservadas">{{getNumberOfTablesWithStatus(sector, 'IN_BOOKING')}}</mat-chip>
                            <mat-chip color="success" selected="true" matTooltip="Mesas libres">{{getNumberOfTablesWithStatus(sector, 'FREE')}}</mat-chip>
                            <mat-chip color="blue" selected="true" matTooltip="Próx a desocuparse">{{getNumberOfTablesWithStatus(sector, 'BILL_REQUESTED')}}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <mat-list-item *ngFor="let table of getTables(sector)" (click)="changeCurrentTable(table)">
                        <div fxLayout="column" fxFlex="50%">
                            <b mat-line>Mesa {{table.number}}</b>
                        </div>
                        <div fxLayout="row" fxFlex="135px" fxLayoutAlign="end center">
                            <mat-chip-list [ngSwitch]="table.status">
                                <mat-chip *ngSwitchCase="'BUSY'" color="warn" selected="true">Ocupada</mat-chip>
                                <mat-chip *ngSwitchCase="'FREE'" color="success" selected="true">Libre</mat-chip>
                                <mat-chip *ngSwitchCase="'IN_BOOKING'" color="primary" selected="true">Reservada</mat-chip>
                                <mat-chip *ngSwitchCase="'BILL_REQUESTED'" color="blue" selected="true">Prox. a desoc</mat-chip>
                            </mat-chip-list>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </div>
    </div>
    <div fxLayout="column" fxFlex="35%">
        <div *ngIf="currentTable">
            <div fxLayout="row" fxLayoutAlign="center center">
                <h3>Mesa {{currentTable.number}}</h3>
            </div>
            <div class="padding-panel">
                <mat-chip-list [ngSwitch]="currentTable.status"> Estado: &nbsp;
                    <mat-chip *ngSwitchCase="'BUSY'" color="warn" selected="true">Ocupada</mat-chip>
                    <mat-chip *ngSwitchCase="'FREE'" color="success" selected="true">Libre</mat-chip>
                    <mat-chip *ngSwitchCase="'IN_BOOKING'" color="primary" selected="true">Reservada</mat-chip>
                    <mat-chip *ngSwitchCase="'BILL_REQUESTED'" color="blue" selected="true">Próx a desocuparse</mat-chip>
                </mat-chip-list>
                <h4>Capacidad: {{currentTable.chairs}} personas</h4>
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button mat-button *ngIf="currentStay" class="dark-button" [routerLink]="['/', { outlets: { popup: 'stay/'+ currentStay.id + '/orders'} }]">Gestionar pedido</button>
                    <button mat-button *ngIf="currentStay" class="dark-button" [routerLink]="['/', { outlets: { popup: 'stay/'+ currentStay.id + '/finish'} }]" >Finalizar</button>
                    <button mat-button mat-raised-button *ngIf="currentStay && currentTable.status == 'BUSY'" class="dark-button" (click)="billRequest()" [disabled]="currentStay.orders.length==0">Pedir cuenta</button>
                    <button mat-button *ngIf="currentBooking" class="dark-button" [routerLink]="['/', { outlets: { popup: 'booking/'+ currentBooking.id } }]">Ver reserva</button>
                    <button mat-button *ngIf="currentBooking" class="dark-button" [routerLink]="['/', { outlets: { popup: 'booking/'+ currentBooking.id + '/change-status'} }]"
                        [queryParams]="{status: 'DISMISSED'}">Cancelar reserva</button>
                    <button mat-button *ngIf="currentBooking" class="dark-button" [routerLink]="['/', { outlets: { popup: 'bookings/'+ currentBooking.id +'/stay' } }]"
                        [queryParams]="{bookingId: currentBooking.id}">Iniciar estadía</button>
                    <button mat-button *ngIf="currentTable.status=='FREE'" class="dark-button" [routerLink]="['/', { outlets: { popup: ['stay-new'] } }]"
                        [queryParams]="{tableId: currentTable.id}">Iniciar estadía</button>
                </div>
                <br>
                <mat-tab-group>
                    <mat-tab label="Detalle" *ngIf="currentStay">
                        <h5>
                            <span>Tiempo transcurrido: </span>{{minutes}} m {{seconds}} s</h5>
                        <h5>
                            <span>Cantidad personas: </span>{{currentStay.people}}</h5>
                        <h5>
                            <span>Monto total: </span>$ {{currentStay.amount}}</h5>
                    </mat-tab>
                    <mat-tab label="Comensales" *ngIf="currentStay">
                        <p *ngIf="currentStay.diners.length == 0">No hay datos de los comensales.</p>
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let client of currentStay.diners">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <img *ngIf="client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png">
                                    <img *ngIf="client.picture" class="avatar" [src]="'data:' + client.picture.contentType + ';base64,' + client.picture.content"
                                        style="max-width: 100%;" alt="picture image" />
                                    <small>&nbsp; &nbsp;{{client.firstName}} {{client.lastName}}</small>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Pedidos" *ngIf="currentStay">
                        <p *ngIf="currentStay.orders.length == 0">Aún no realizaron un pedido.</p>
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let order of currentStay.orders">
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <b>{{order.quantity}}</b>
                                        <small>&nbsp; &nbsp;-&nbsp; &nbsp;{{order.menu.name}}</small>
                                    </div>
                                    <small>$ {{order.amount}}</small>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>