
/* ==========================================================================
Main page styles
========================================================================== */
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}

.panel-mesas{
  height: calc(100vh - 129px);
  overflow-y: scroll;
  overflow-x: hidden;

  .mat-chip{
    padding: 2px 7px !important;
  }
  .mat-list-item{
    &:hover{
      background: #ececec;
    }
    padding: 10px 0px;
    cursor: pointer;
    height: fit-content;
    small.small-icon{
      font-size: 16px !important;
    }
  }
}

.mat-header-row {
  min-height: 65px;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 35px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

.avatar{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid rgb(175, 175, 175);
  padding: 2px;
}

.option-image{
  width: 35px;
  border-radius: 100%;
  vertical-align: middle;
}
.option-text{
  vertical-align: middle;
}
.option-price{
  float: right;
}