<div class="main-container">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text" jhiTranslate="ichooseApp.stay.historic.title">Stays</h3>
<!--         <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
            <button type="submit" mat-button mat-raised-button [routerLink]="['/', { outlets: { popup: ['stay-new'] } }]">
                <span jhiTranslate="ichooseApp.stay.home.createLabel">Create new Stay</span>
            </button>
        </div>
 -->    </mat-toolbar>
    <div class="padding-panel" *ngIf="stays">
        <div fxFill fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'ichooseApp.stay.home.search' | translate }}">
            </mat-form-field>
        </div>
        <br>
        <div fxFill fxLayout="row" fxLayoutAlign="center centere" fxFill>
            <mat-table #table [dataSource]="dataSource" fxFlex="85%">

                <!-- table Column -->
                <ng-container matColumnDef="table">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.stay.clientTable" class="center-text">Table</mat-header-cell>
                    <mat-cell *matCellDef="let stay" class="center-text"> {{stay.table.number}} </mat-cell>
                </ng-container>

                <!-- people Column -->
                <ng-container matColumnDef="people">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.stay.people" class="center-text">People</mat-header-cell>
                    <mat-cell *matCellDef="let stay" class="center-text"> {{stay.people}} </mat-cell>
                </ng-container>

                <!-- init Column -->
                <ng-container matColumnDef="init">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.stay.init" class="center-text">Init</mat-header-cell>
                    <mat-cell *matCellDef="let stay" class="center-text"> {{stay.init | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
                </ng-container>

                <!-- end Column -->
                <ng-container matColumnDef="end">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.stay.end" class="center-text">End</mat-header-cell>
                    <mat-cell *matCellDef="let stay" class="center-text"> {{stay.end | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
                </ng-container>

                <!-- amount Column -->
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.stay.amount" class="center-text">Amount</mat-header-cell>
                    <mat-cell *matCellDef="let stay" class="center-text" >$ {{stay.amount | number: '1.2-2'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef class="center-text"> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let stay">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-icon-button [routerLink]="['/', { outlets: { popup: 'stay/'+ stay.id} }]">
                                <small class="material-icons" matTooltip="Ver">remove_red_eye</small>
                            </button>
                            <button mat-icon-button type="submit" [routerLink]="['/', { outlets: { popup: ['tax-bill-new'] } }]" replaceUrl="true"
                                             queryParamsHandling="merge" 
                                             [disabled]="stay.end == null"
                                             [queryParams]="{stayId: stay.id}">
                            <mat-icon class="material-icons" matTooltip="Facturar">receipt</mat-icon>
                        </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>