<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon (click)="clear()" class="material-icons">close</mat-icon>
</button>
<div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
    <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
        <h4 class="regular-text gray-text">FINALIZAR ESTADÍA</h4>
    </mat-dialog-title>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h4 class="gray-text light-text">
            <span jhiTranslate="ichooseApp.stay.finishStay"></span>
        </h4>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
                <span jhiTranslate="entity.action.cancel"></span>
            </button>

            <button mat-raised-button class="ichoose-theme" color="primary" tabindex="-1" (click)="finishStay()">
                <span jhiTranslate="entity.action.accept"></span>
            </button>
        </mat-dialog-actions>
    </div>
</div>