<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon (click)="clear()" class="material-icons orange-text">close</mat-icon>
</button>

<div fxLayout="column" fxLayoutAlign="center center" class="ichoose-theme small-dialog">
    <mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
        <h2 jhiTranslate="ichooseApp.stay.detail.title">Reserva</h2>
    </mat-dialog-title>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="form-group">
            <mat-form-field fxFIll>
                <input matInput type="number" placeholder="{{ 'ichooseApp.stay.people' | translate }}" class="form-control" name="people"
                    id="field_people" [(ngModel)]="stay.people" required/>
                <mat-error *ngIf="peopleCtrl.errors?.required && peopleCtrl.touched || peopleCtrl.untouched" jhiTranslate="entity.validation.required">This field is required.</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field fxFIll>
                <input matInput [owlDateTime]="dt1" id="field_init" name="dateTime" placeholder="{{ 'ichooseApp.stay.chooseADate' | translate }}"
                    [(ngModel)]="stay.init" [ngModelOptions]="{standalone: true}" disabled required />
                <span matSuffix [owlDateTimeTrigger]="dt1">
                    <i class="material-icons">
                        calendar_today
                    </i>
                </span>
                <owl-date-time #dt1></owl-date-time>
                <mat-error *ngIf="dateCtrl.errors?.required && dateCtrl.touched || dateCtrl.untouched " jhiTranslate="entity.validation.required">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>


        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="{{ 'ichooseApp.booking.table.tableName' | translate }}" [matAutocomplete]="auto" [(ngModel)]="stay.table"
                    [formControl]="tableCtrl" [attr.disabled]="initFromTable">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let table of filteredTables | async" [value]="table">
                        <span>{{ table.number }}</span>
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="tableCtrl.errors?.required && tableCtrl.touched || tableCtrl.untouched " jhiTranslate="entity.validation.required">
                    This field is required
                </mat-error>
            </mat-form-field>

            <div>
                <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" mat-button mat-raised-button [disabled]="editForm.form.invalid || stay.init == undefined || isSaving"
                        tabindex="-1" (click)="save()" color="primary">
                        <span jhiTranslate="ichooseApp.stay.startStay">Start stay</span>
                    </button>
                    <br>
                    <br>
                </mat-dialog-actions>
            </div>
        </form>
</div>