<mat-drawer-container class="sidenav-container" autosize>
    <router-outlet name="navbar"></router-outlet>
    <div class="container-fluid">
        <div class="card jh-card">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
        <jhi-footer></jhi-footer>
    </div>
</mat-drawer-container>