<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaxBillAdditionalLabel" jhiTranslate="ichooseApp.taxBillAdditional.home.createOrEditLabel">Create or edit a Tax Bill Additional</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!taxBillAdditional.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="taxBillAdditional.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillAdditional.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="taxBillAdditional.description" required/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillAdditional.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="taxBillAdditional.amount" required/>
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillAdditional.iva" for="field_iva">Iva</label>
            <input type="number" class="form-control" name="iva" id="field_iva"
                [(ngModel)]="taxBillAdditional.iva" required/>
            <div [hidden]="!(editForm.controls.iva?.dirty && editForm.controls.iva?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.iva?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.iva?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillAdditional.negative" for="field_negative">Negative</label>
            <input type="checkbox" class="form-control" name="negative" id="field_negative"
                [(ngModel)]="taxBillAdditional.negative" />
            <div [hidden]="!(editForm.controls.negative?.dirty && editForm.controls.negative?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.negative?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillAdditional.taxBill" for="field_taxBill">Tax Bill</label>
            <select class="form-control" id="field_taxBill" name="taxBill" [(ngModel)]="taxBillAdditional.taxBillId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="taxBillOption.id" *ngFor="let taxBillOption of taxbills; trackBy: trackTaxBillById">{{taxBillOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
