<div>
    <h2>
        <span jhiTranslate="ichooseApp.taxBillAdditional.home.title">Tax Bill Additionals</span>
        <button class="btn btn-primary float-right jh-create-entity create-tax-bill-additional" [routerLink]="['/', { outlets: { popup: ['tax-bill-additional-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.taxBillAdditional.home.createLabel">
            Create new Tax Bill Additional
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.taxBillAdditional.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="taxBillAdditionals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="ichooseApp.taxBillAdditional.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="ichooseApp.taxBillAdditional.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="iva"><span jhiTranslate="ichooseApp.taxBillAdditional.iva">Iva</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="negative"><span jhiTranslate="ichooseApp.taxBillAdditional.negative">Negative</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxBillId"><span jhiTranslate="ichooseApp.taxBillAdditional.taxBill">Tax Bill</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taxBillAdditional of taxBillAdditionals ;trackBy: trackId">
                <td><a [routerLink]="['../tax-bill-additional', taxBillAdditional.id ]">{{taxBillAdditional.id}}</a></td>
                <td>{{taxBillAdditional.description}}</td>
                <td>{{taxBillAdditional.amount}}</td>
                <td>{{taxBillAdditional.iva}}</td>
                <td>{{taxBillAdditional.negative}}</td>
                <td>
                    <div *ngIf="taxBillAdditional.taxBillId">
                        <a [routerLink]="['../tax-bill', taxBillAdditional.taxBillId  ]" >{{taxBillAdditional.taxBillId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tax-bill-additional', taxBillAdditional.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-bill-additional/'+ taxBillAdditional.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-bill-additional/'+ taxBillAdditional.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="taxBillAdditionals && taxBillAdditionals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
