
<div *ngIf="taxBillAdditional">
    <h2><span jhiTranslate="ichooseApp.taxBillAdditional.detail.title">Tax Bill Additional</span> {{taxBillAdditional.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.taxBillAdditional.description">Description</span></dt>
        <dd>
            <span>{{taxBillAdditional.description}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillAdditional.amount">Amount</span></dt>
        <dd>
            <span>{{taxBillAdditional.amount}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillAdditional.iva">Iva</span></dt>
        <dd>
            <span>{{taxBillAdditional.iva}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillAdditional.negative">Negative</span></dt>
        <dd>
            <span>{{taxBillAdditional.negative}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillAdditional.taxBill">Tax Bill</span></dt>
        <dd>
            <div *ngIf="taxBillAdditional.taxBillId">
                <a [routerLink]="['/tax-bill', taxBillAdditional.taxBillId]">{{taxBillAdditional.taxBillId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tax-bill-additional/'+ taxBillAdditional.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
