
<div *ngIf="client">
    <h2><span jhiTranslate="ichooseApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.client.telephoneNumber">Telephone Number</span></dt>
        <dd>
            <span>{{client.telephoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.client.birthdate">Birthdate</span></dt>
        <dd>
            <span>{{client.birthdate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.client.firstName">First Name</span></dt>
        <dd>
            <span>{{client.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.client.lastName">Last Name</span></dt>
        <dd>
            <span>{{client.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.client.email">Email</span></dt>
        <dd>
            <span>{{client.email}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.client.userId">User Id</span></dt>
        <dd>
            <span>{{client.userId}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.client.location">Location</span></dt>
        <dd>
            <div *ngIf="client.locationId">
                <a [routerLink]="['/location', client.locationId]">{{client.locationId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.client.picture">Picture</span></dt>
        <dd>
            <div *ngIf="client.pictureId">
                <a [routerLink]="['/picture', client.pictureId]">{{client.pictureId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.client.nationality">Nationality</span></dt>
        <dd>
            <div *ngIf="client.nationalityId">
                <a [routerLink]="['/nationality', client.nationalityId]">{{client.nationalityId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
