<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientLabel" jhiTranslate="ichooseApp.client.home.createOrEditLabel">Create or edit a Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!client.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="client.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.telephoneNumber" for="field_telephoneNumber">Telephone Number</label>
            <input type="text" class="form-control" name="telephoneNumber" id="field_telephoneNumber"
                [(ngModel)]="client.telephoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.birthdate" for="field_birthdate">Birthdate</label>
            <div class="d-flex">
                <input id="field_birthdate" type="datetime-local" class="form-control" name="birthdate" [(ngModel)]="client.birthdate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="client.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="client.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="client.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="client.userId" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="client.locationId">
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.picture" for="field_picture">Picture</label>
            <select class="form-control" id="field_picture" name="picture" [(ngModel)]="client.pictureId">
                <option [ngValue]="null"></option>
                <option [ngValue]="pictureOption.id" *ngFor="let pictureOption of pictures; trackBy: trackPictureById">{{pictureOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.client.nationality" for="field_nationality">Nationality</label>
            <select class="form-control" id="field_nationality" name="nationality" [(ngModel)]="client.nationalityId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="nationalityOption.id" *ngFor="let nationalityOption of nationalities; trackBy: trackNationalityById">{{nationalityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
