<div>
    <h2>
        <span jhiTranslate="ichooseApp.client.home.title">Clients</span>
        <button class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/', { outlets: { popup: ['client-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.client.home.createLabel">
            Create new Client
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.client.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telephoneNumber"><span jhiTranslate="ichooseApp.client.telephoneNumber">Telephone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthdate"><span jhiTranslate="ichooseApp.client.birthdate">Birthdate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span jhiTranslate="ichooseApp.client.firstName">First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span jhiTranslate="ichooseApp.client.lastName">Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="ichooseApp.client.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="ichooseApp.client.userId">User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="locationId"><span jhiTranslate="ichooseApp.client.location">Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pictureId"><span jhiTranslate="ichooseApp.client.picture">Picture</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nationalityId"><span jhiTranslate="ichooseApp.client.nationality">Nationality</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let client of clients ;trackBy: trackId">
                <td><a [routerLink]="['../client', client.id ]">{{client.id}}</a></td>
                <td>{{client.telephoneNumber}}</td>
                <td>{{client.birthdate | date:'medium'}}</td>
                <td>{{client.firstName}}</td>
                <td>{{client.lastName}}</td>
                <td>{{client.email}}</td>
                <td>{{client.userId}}</td>
                <td>
                    <div *ngIf="client.locationId">
                        <a [routerLink]="['../location', client.locationId  ]" >{{client.locationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="client.pictureId">
                        <a [routerLink]="['../picture', client.pictureId  ]" >{{client.pictureId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="client.nationalityId">
                        <a [routerLink]="['../nationality', client.nationalityId  ]" >{{client.nationalityId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client', client.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
