
<div *ngIf="shift">
    <h2><span jhiTranslate="ichooseApp.shift.detail.title">Shift</span> {{shift.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.shift.start">Start</span></dt>
        <dd>
            <span>{{shift.start}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.shift.end">End</span></dt>
        <dd>
            <span>{{shift.end}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.shift.name">Name</span></dt>
        <dd>
            <span>{{shift.name}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.shift.restaurant">Restaurant</span></dt>
        <dd>
            <div *ngIf="shift.restaurantId">
                <a [routerLink]="['/restaurant', shift.restaurantId]">{{shift.restaurantId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'shift/'+ shift.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
