<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myShiftLabel" jhiTranslate="ichooseApp.shift.home.createOrEditLabel">Create or edit a Shift</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!shift.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="shift.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.shift.start" for="field_start">Start</label>
            <input type="text" class="form-control" name="start" id="field_start"
                [(ngModel)]="shift.start" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.shift.end" for="field_end">End</label>
            <input type="text" class="form-control" name="end" id="field_end"
                [(ngModel)]="shift.end" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.shift.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="shift.name" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.shift.restaurant" for="field_restaurant">Restaurant</label>
            <select class="form-control" id="field_restaurant" name="restaurant" [(ngModel)]="shift.restaurantId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
