@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/ichoose-theme.scss';
@import '../../../content/scss/transparent-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}
// specify theme class eg: <body class="my-theme"> ... </body>
.transparent-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($transparent-theme);
}

.register-background{
    background: url("../../../content/images/background-register.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    margin-top: -65px;
}

.ichoose-logo{
  width: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.card-content{
  padding: 0px 30px;
}

.orange-link, .orange-link:visited, .orange-link:hover{
  color: #E77F04;
}

.example-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 110em
  }

  .register-card{
    width: 400px;
    max-width: 90vw;
  }
  
  .border-box{
    padding: 15px 20px 20px 20px;
    border: 1px solid #cccbcb;
    letter-spacing: 1px;
  }
  
  @media (max-width: 600px) {
    .register-card{
      top: 5vh;
      min-height: 430px;
      padding-top: 0px;
    }
  }