<div class="register-background ichoose-theme" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="register-card">
        <md-card-title fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../content/images/ichoose-orange.png" class="ichoose-logo">
        </md-card-title>
        <mat-card-content class="card-content">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field fxFill class="ichoose-theme" color="primary">
                    <input matInput type="text" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel"
                        placeholder="{{'global.form.username.placeholder' | translate}}" required minlength="1" maxlength="50"
                        pattern="^[_'.@A-Za-z0-9-]*$" class="ichoose-theme" color="primary">
                </mat-form-field>
                <div *ngIf="login.dirty && login.invalid">
                    <small class="form-text text-danger" *ngIf="login.errors.required" jhiTranslate="register.messages.validate.login.required">
                        Your username is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="login.errors.minlength" jhiTranslate="register.messages.validate.login.minlength">
                        Your username is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="login.errors.maxlength" jhiTranslate="register.messages.validate.login.maxlength">
                        Your username cannot be longer than 50 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="login.errors.pattern" jhiTranslate="register.messages.validate.login.pattern">
                        Your username can only contain letters and digits.
                    </small>
                </div>
                <mat-form-field fxFill>
                    <input matInput type="email" id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                        [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                </mat-form-field>
                <div *ngIf="email.dirty && email.invalid">
                    <small class="form-text text-danger" *ngIf="email.errors.required" jhiTranslate="global.messages.validate.email.required">
                        Your email is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="email.errors.invalid" jhiTranslate="global.messages.validate.email.invalid">
                        Your email is invalid.
                    </small>
                    <small class="form-text text-danger" *ngIf="email.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                        Your email is required to be at least 5 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="email.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                        Your email cannot be longer than 100 characters.
                    </small>
                </div>
                <mat-form-field fxFill>
                    <input matInput [type]="hide ? 'password' : 'text'" id="password" name="password" #password="ngModel"
                        placeholder="{{'global.form.newpassword.placeholder' | translate}}" [(ngModel)]="registerAccount.password"
                        minlength=4 maxlength=50 required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <!--<jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>-->
                </mat-form-field>
                <div *ngIf="password.dirty && password.invalid">
                    <small class="form-text text-danger" *ngIf="password.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                        Your password is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="password.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                        Your password is required to be at least 4 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="password.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                        Your password cannot be longer than 50 characters.
                    </small>
                </div>
                <mat-form-field fxFill>
                    <input matInput [type]="hide ? 'password' : 'text'" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                        placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" [(ngModel)]="confirmPassword"
                        minlength=4 maxlength=50 required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                        Your confirmation password is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                        Your confirmation password is required to be at least 4 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                        Your confirmation password cannot be longer than 50 characters.
                    </small>
                </div>
                <br>
                <div fxLayout="row" fxFill>
                        <button mat-raised-button disabled fxFill type="submit" [disabled]="registerForm.form.invalid" class="ichoose-theme" color="primary">CREAR CUENTA</button>
                </div>
                <!-- <button type="submit" [disabled]="registerForm.form.invalid" jhiTranslate="register.form.button">Register</button>  -->
                <br>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <small class="gray-text">Creando tu cuenta, aceptas nuestros</small>
                    <small class="gray-text">Términos y Políticas de Privacidad.</small>
                    <br>
                    <small class="gray-text">¿Ya tenés una cuenta?</small>
                    <b><a href="" class="orange-link">Inicia Sesión</a></b>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="col-md-8">
        <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
            <strong>Registration saved!</strong> Please check your email for confirmation.
        </div>

        <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
            <strong>Registration failed!</strong> Please try again later.
        </div>

        <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
            <strong>Login name already registered!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
            <strong>Email is already in use!</strong> Please choose another one.
        </div>

        <span id="nameInUse" style="display:none" jhiTranslate="ichooseApp.register.nameInUse"></span>
        <span id="emailInUse" style="display:none" jhiTranslate="ichooseApp.register.nameInUse"></span>
        <span id="errorSign" style="display:none" jhiTranslate="ichooseApp.register.errorSign"></span>

        <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
            The password and its confirmation do not match!
        </div>
    </div>
</div>