@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/transparent-theme.scss';
@import '../../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.transparent-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($transparent-theme);
}
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}

.restaurant-name-button .edit-icon-navbar{
  visibility: hidden;
}

.restaurant-name-button:hover .edit-icon-navbar{
  visibility: visible;
}

.notifications-unread-mark{
      border-radius: 100%;
      background: #ea0a0a;
      font-size: 12px;
      padding: 1px 6px 3px;
      margin-left: -20px;
      right: -50px;
      position: relative;
      top: -10px;
}

.edit-icon-navbar{
  margin-left: 15px;
}

.avatar{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.avatar-logo{
  width: 30px;
  height: 30px;
  border-radius: 10%;
}

  .navbar-brand{
    img{
      width: 80px;
    }
  }
  .small-icon{
    font-size: 1em;
  }

.gradient-text{
  padding-left: 20%;
  padding-right: 10%;
  text-align: justify;
  margin-top: -10vh;
}

.title-center{
    height: 0em;
    padding-left: 80px;
    margin-top: 15vh;
}

.ichoose-small{
  width: 120px;
}

.absolute-element{
  position: relative;
  z-index: 100;
  top: 5px;
}

.check-icon{
  position: absolute;
  left: 8vw;
  font-size: 30px;
}

.half-background-2{
  background: url("../../../content/images/restaurant-background-2.png");
  background-size: cover;
  height: 80vh;
}


.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  padding: 20px;
  background: #e77f04; /* Old browsers */
  background: -moz-linear-gradient(45deg, #e77f04 0%, #e77f04 34%, #f5b60a 70%, #f5b60a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #e77f04 0%,#e77f04 34%,#f5b60a 70%,#f5b60a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #e77f04 0%,#e77f04 34%,#f5b60a 70%,#f5b60a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e77f04', endColorstr='#f5b60a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
  color: white;
  position: fixed;
  .logo-container{
    width: 100%;
  }
}

.sidebar-button{
  position: fixed;
}

@media (max-width: 960px) {
  .button-container{
    padding-bottom: 25px;
  }
  .title-center{
    height: 0em;
    padding-left: 80px;
    margin-top: 15vh;
  }
  .check-icon{
    left: 15vw;
  }
  .title-center{
    margin-top: 10vh;
  }
  .gradient-text{
    margin-top: 10vh;
  }
}

@media (max-width: 600px) {
  .gradient-text{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 15vh;
  }
  .check-icon{
    left: 5vw;
  }
  .title-center{
    height: 0em;
    padding-left: 80px;
    margin-top: 5vh;
  }
}