<div>
    <mat-drawer #drawer class="example-sidenav transparent-theme" color="primary" mode="side" fxLayout="column" fxHide.gt-xs="false"
        fxHide.xs="false" fxLayoutAlign="start start">
        <div fxLayout="row" fxLayoutAlign="center center" class="logo-container">
            <a class="navbar-brand" routerLink="/" (click)="collapseNavbar(drawer)">
                <img class="logo-img" src="../../../content/images/logo-blanco.png">
            </a>
        </div>
        <span class="white-line"></span>
        <button mat-button *ngIf="!isAuthenticated()" (click)="login(drawer)" routerLinkActive="active">
            <span jhiTranslate="global.menu.restaurantOwners">Restaurant Owners</span>
        </button>
      <!--  <button mat-button *ngIf="!isAuthenticated()" (click)="login(drawer)" routerLinkActive="active">
            <span jhiTranslate="global.menu.account.login">Sign in</span>
        </button>-->
        <button mat-button *ngIf="!isAuthenticated()" (click)="help()" routerLinkActive="active">
            <span jhiTranslate="global.menu.help">Help</span>
        </button>
        <button mat-button *ngIf="isAuthenticated()" routerLinkActive="active" [routerLink]="['../stay-dashboard']" (click)="collapseNavbar(drawer)">
            <i class="material-icons">
                dashboard
            </i>
        </button>
        <button mat-button [matMenuTriggerFor]="menuConfiguration" *ngIf="isAuthenticated()">
            <mat-icon aria-label="Settings" class="material-icons">settings</mat-icon>
            <small>Configuración</small>
            <small class="material-icons small-icon">keyboard_arrow_down</small>
        </button>
        <mat-menu #menuConfiguration="matMenu">
            <button mat-menu-item routerLink="user-management" routerLinkActive="active" [routerLink]="['../sector']" (click)="collapseNavbar(drawer)">
                <span jhiTranslate="global.menu.entities.sectors">Sectores</span>
            </button>
            <button mat-menu-item routerLink="jhi-metrics" routerLinkActive="active" [routerLink]="['../client-table']" (click)="collapseNavbar(drawer)">
                <span jhiTranslate="global.menu.entities.clientTables">Mesas</span>
            </button>
            <button mat-menu-item routerLink="jhi-health" routerLinkActive="active" [routerLink]="['../menu']" (click)="collapseNavbar(drawer)">
                <span jhiTranslate="global.menu.entities.menus">Platos</span>
            </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menuUser" *ngIf="isAuthenticated()">
            <mat-icon aria-label="Settings" class="material-icons">account_circle</mat-icon>
            <small *ngIf="client != null">{{client.login}}</small>
            <small class="material-icons small-icon">keyboard_arrow_down</small>
        </button>
        <mat-menu #menuUser="matMenu">
            <button mat-menu-item routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar(drawer)">
                <span jhiTranslate="global.menu.admin.myProfile">Mi perfil</span>
            </button>
            <button mat-menu-item (click)="logout(drawer)" routerLinkActive="active">
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </button>
        </mat-menu>
    </mat-drawer>
    <mat-toolbar class="transparent-theme main-toolbar" color="primary" fxLayoutAlign="end center">
        <div fxLayout="row" fxFlex fxLayoutAlign="start center">
            <a class="navbar-brand" routerLink="/" (click)="collapseNavbar(drawer)">
                <img class="logo-img" src="../../../content/images/logo-blanco.png">
            </a>
        </div>
        <button mat-button *ngIf="!isAuthenticated()" (click)="login(drawer)" routerLinkActive="active" fxHide.xs="true">
            <span jhiTranslate="global.menu.restaurantOwners">Restaurant Owners</span>
        </button>
        <!--<button mat-button *ngIf="!isAuthenticated()" (click)="login(drawer)" routerLinkActive="active" fxHide.xs="true">-->
            <!--<span jhiTranslate="global.menu.account.login">Sign in</span>-->
        <!--</button>-->
        <button mat-button (click)="help()" *ngIf="!isAuthenticated()" routerLinkActive="active" fxHide.xs="true">
            <span jhiTranslate="global.menu.help">Help</span>
        </button>
        <!--     <div fxLayout="row" fxFlex="33%" *ngIf="isAuthenticated()" fxLayoutAlign="center center" fxHide.sm="true" fxHide.xs="true">
        <form>
            <button mat-icon-button type="submit">
                <mat-icon aria-label="Search" class="material-icons">search</mat-icon>
            </button>
            <mat-form-field fxFill>
                <input matInput placeholder="Buscar">
            </mat-form-field>
        </form>
    </div> -->
        <div fxLayout="row" *ngIf="isAuthenticated()" fxLayoutAlign="end center" fxHide.xs="true">
            <div>
                <button mat-button [matMenuTriggerFor]="menuRestaurants">
                    <mat-icon *ngIf="!currentRestaurant || !currentRestaurant.logo" aria-label="Select restaurant" class="material-icons">restaurant</mat-icon>
                    <img *ngIf="currentRestaurant && currentRestaurant.logo" class="avatar-logo" [src]="currentRestaurant.logo.url"
                        style="max-width: 100%;" alt="picture image" />
                    <small *ngIf="currentRestaurant">{{currentRestaurant.name}}</small>
                    <small class="material-icons small-icon">keyboard_arrow_down</small>
                </button>
                <mat-menu #menuRestaurants="matMenu">
                    <button mat-menu-item class="restaurant-name-button" routerLinkActive="active" *ngFor="let restaurant of restaurants" (click)="changeCurrentRestaurant(restaurant)"
                        fxLayout="row" fxLayoutAlign="space-between center">
                        <small>{{restaurant.name}}</small>
                        <small class="material-icons small-icon edit-icon-navbar" (click)="editRestaurant($event, restaurant.id)">edit</small>
                    </button>
                    <small mat-menu-item *ngIf="showNoneRestaurantOption()" class="small-menu-item">No posee restaurantes registrados</small>
                    <mat-divider></mat-divider>
                    <button mat-menu-item class="small-menu-item" routerLinkActive="active" [routerLink]="['../restaurant-new']">
                        <b>
                            <span jhiTranslate="global.menu.entities.restaurant-new">new</span>
                        </b>
                    </button>
                </mat-menu>
            </div>
            <div fxHide.xs="true">
                <span class="notifications-unread-mark" *ngIf="unreadNotifications && unreadNotifications > 0">{{unreadNotifications}}</span>
                <button mat-icon-button [matMenuTriggerFor]="menuNotifications">
                    <mat-icon aria-label="Notifications" class="material-icons">notifications</mat-icon>
                </button>
                <mat-menu #menuNotifications="matMenu" class="notification-menu">
                    <jhi-notification-dropdown></jhi-notification-dropdown>
                </mat-menu>
            </div>
            <button mat-icon-button *ngIf="isAuthenticated()" routerLinkActive="active" [routerLink]="['../stay-dashboard']" (click)="collapseNavbar(drawer)"
                fxHide.xs="true">
                <i class="material-icons">
                    dashboard
                </i>
            </button>
            <div fxHide.xs="true">
                <button mat-icon-button [matMenuTriggerFor]="menuConfiguration">
                    <mat-icon aria-label="Settings" class="material-icons">settings</mat-icon>
                    <!--<small>Configuración</small>
                <small class="material-icons small-icon">keyboard_arrow_down</small>-->
                </button>
                <mat-menu #menuConfiguration="matMenu">
                    <button mat-menu-item routerLink="jhi-sector" routerLinkActive="active" [routerLink]="['../sector']">
                        <span jhiTranslate="global.menu.entities.sectors">Sectores</span>
                    </button>
                    <!-- <button mat-menu-item routerLink="jhi-client-table" routerLinkActive="active" [routerLink]="['../client-table']">
                    <span jhiTranslate="global.menu.entities.clientTables">Mesas</span>
                </button> -->
                    <button mat-menu-item routerLink="jhi-menu" routerLinkActive="active" [routerLink]="['../menu']">
                        <span jhiTranslate="global.menu.entities.menus">Platos</span>
                    </button>
                    <button mat-menu-item routerLink="jhi-booking" routerLinkActive="active" [routerLink]="['../booking']">
                        <span jhiTranslate="global.menu.entities.booking">Booking</span>
                    </button>
                    <button mat-menu-item routerLink="jhi-promotion" routerLinkActive="active" [routerLink]="['../promotion']">
                        <span jhiTranslate="global.menu.entities.promotion">Promotion</span>
                    </button>
                    <button mat-menu-item routerLink="jhi-stay-history" routerLinkActive="active" [routerLink]="['../stay-history']">
                        <span jhiTranslate="global.menu.entities.client">Stay History</span>
                    </button>
                    <button mat-menu-item routerLink="jhi-client-group" routerLinkActive="active" [routerLink]="['../client-group']">
                        <span jhiTranslate="global.menu.entities.clientGroup">client group</span>
                    </button>
                </mat-menu>
            </div>
            <div *ngIf="languages" fxHide.xs="true">
                <button mat-icon-button [matMenuTriggerFor]="menuLanguages">
                    <mat-icon aria-label="Select language" class="material-icons">language</mat-icon>
                </button>
                <mat-menu #menuLanguages="matMenu">
                    <button mat-menu-item *ngFor="let language of languages" routerLinkActive="active" (click)="changeLanguage(language);collapseNavbar(drawer);">
                        <small>{{language | findLanguageFromKey}}</small>
                    </button>
                </mat-menu>
            </div>
            <div>
                <button mat-button [matMenuTriggerFor]="menuUser">
                    <mat-icon *ngIf="client == null || client.picture == null" aria-label="Settings" class="material-icons">account_circle</mat-icon>
                    <img *ngIf="client && client.picture" class="avatar" [src]="'data:' + client.picture.contentType + ';base64,' + client.picture.content"
                        style="max-width: 100%;" />
                    <small *ngIf="client != null">{{client.login}}</small>
                    <small class="material-icons small-icon">keyboard_arrow_down</small>
                </button>
                <mat-menu #menuUser="matMenu">
                    <!--                 <button mat-menu-item routerLink="user-management" routerLinkActive="active">
                    <span jhiTranslate="global.menu.admin.myProfile">Mi perfil</span>
                </button> -->
                    <button mat-menu-item (click)="logout(drawer)" routerLinkActive="active">
                        <span jhiTranslate="global.menu.account.logout">Sign out</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <button mat-icon-button (click)="drawer.toggle()" class="sidebar-button" fxHide.gt-xs="true">
            <i *ngIf="!drawer.opened" class="material-icons">menu</i>
            <i *ngIf="drawer.opened" class="material-icons">close</i>
        </button>
    </mat-toolbar>
</div>