<div fxLayout="row" fxLayout="center center">
    <div fxFlex.gt-sm="50%" fxFlex.xs="100%" fxLayout="row" fxLayout="center center" class="gradient-gray-background">
        <h1 class="white-text title-center">¿Por qué
            <img src="../../../content/images/ichoose-orange.png" class="ichoose-small"> ?</h1>
        <div class="gradient-text">
            <i class="fa fa-check orange-text check-icon"></i><small class="white-text absolute-element">Una manera de competir en un mercado mediado por lo digital.</small>
            <br>
            <br>
            <i class="fa fa-check orange-text check-icon"></i><small class="white-text absolute-element">Óptimo grado de organización el lugar, la diagramación de las mesas y de la gente que trabaja allí.</small>
            <br>
            <br>
            <i class="fa fa-check orange-text check-icon"></i><small class="white-text absolute-element">Servicio personalizado para los clientes.</small>
            <br>
            <br>
            <i class="fa fa-check  orange-text check-icon"></i><small class="white-text absolute-element">iChoose es una nueva forma de salir a comer.</small>
            <br>
            <br>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center" class="button-container">
                <button mat-raised-button color="primary" (click)="onNoClick()">SALIR</button>
                <button fxFlexOffset="10px" mat-raised-button color="primary">REGISTRARSE</button>
            </div>
        </div>
    </div>
    <div fxFlex="50%" fxHide.xs="true" fxHide.sm="true"  class="half-background-2" fxLayoutAlign="end end">
    </div>
</div>