<div class="landing-page ichoose-theme home-overrides" fxLayout="column" fxLayoutAlign="start center">
    <img src="../../content/images/logo-blanco.png" />
    <form fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutAlign="center center" fxFlexOffset="20px">
        <div fxFlex.gt-sm="150px" fxLayout="column">
            <label>Ciudad</label>
            <input type="text" placeholder="Santa Fe" type="text">
        </div>
        <div fxFlexOffset.gt-sm="20px" fxFlex.gt-sm="200px" fxLayout="column">
            <label>Dirección</label>
            <input placeholder="Ej. Av. Santa Fe 3452" type="text">
        </div>
        <div fxFlexOffset.gt-sm="20px" fxFlex.gt-sm="200px" fxLayout="column">
            <label>Restaurante/Comida</label>
            <input placeholder="Ej. Burger King o Pizza" type="text">
        </div>
        <button fxFlexOffset="20px" fxFlex.gt-sm="100px" mat-raised-button color="primary">BUSCAR</button>
    </form>
    <br>
    <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.xs="start start" fxFlexOffset.gt-sm="18vh">
        <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center" fxFlexOffset.xs="10px">
            <i class="material-icons" fxFlex="35px">search</i>
            <small class="white-text light-text">1. Busca la mejor opción en restaurantes.</small>
        </div>
        <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="10px">
            <i class="material-icons" fxFlex="35px">phonelink_ring</i>
            <small class="white-text light-text">2. Reserva tu mesa y el menú.</small>
        </div>
        <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="10px">
            <i class="material-icons" fxFlex="35px">local_atm</i>
            <small class="white-text light-text">3. Lleva el control de tus gastos.</small>
        </div>
        <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="10px">
            <i class="material-icons" fxFlex="35px">payment</i>
            <small class="white-text light-text">4. Elige la mejor opción de pago.</small>
        </div>
        <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="10px">
            <i class="material-icons" fxFlex="35px">star_border</i>
            <small class="white-text light-text">5. Deja tu evaluación.</small>
        </div>
    </div>
</div>
<div class="home-section ichoose-theme gradient-orange-background" fxFill fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start" fxLayout.xs="column" fxLayoutAlign.xs="start center">
        <mat-card class="center-text card" fxFlex.gt-sm="30%" fxFlex.xs="80%" fxFlexOffset="3%">
            <mat-card-content>
                <b class="orange-text">Yucca</b>
                <br>
                <small class="gray-text">Papas rancheras</small>
                <hr>
                <small class="gray-text">Joaquín Crippa</small>
                <br>
                <br>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <br>
                <br>
                <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, […].</small>
            </mat-card-content>
        </mat-card>
        <mat-card class="center-text card" fxFlex.gt-sm="30%" fxFlexOffset="3%" fxFlex.xs="80%">
            <mat-card-content>
                <b class="orange-text">Yucca</b>
                <br>
                <small class="gray-text">Papas rancheras</small>
                <hr>
                <small class="gray-text">Joaquín Crippa</small>
                <br>
                <br>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <br>
                <br>
                <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, […].</small>
            </mat-card-content>
        </mat-card>
        <mat-card class="center-text card" fxFlex.gt-sm="30%" fxFlexOffset="3%" fxFlex.xs="80%">
            <mat-card-content>
                <b class="orange-text">Yucca</b>
                <br>
                <small class="gray-text">Papas rancheras</small>
                <hr>
                <small class="gray-text">Joaquín Crippa</small>
                <br>
                <br>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <mat-icon class="material-icons orange-text">star_rate</mat-icon>
                <br>
                <br>
                <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, […].</small>
            </mat-card-content>
        </mat-card>
    </div>
    <span class="white-line"></span>
    <div fxLayout="column" fxLayoutAlign="end center" fxFill  fxHide.xs="true">
        <div fxLayout="row" fxFill>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20vw">
                <h5 class="white-text light-text">
                    <b>Vegetarianos</b>
                </h5>
                <small class="white-text light-text">Restaurantes veganos</small>
                <small class="white-text light-text">Restaurantes vegetarianos</small>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20vw">
                <h5 class="white-text light-text">
                    <b>Vegetarianos</b>
                </h5>
                <small class="white-text light-text">Restaurantes veganos</small>
                <small class="white-text light-text">Restaurantes vegetarianos</small>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20vw">
                <h5 class="white-text light-text">
                    <b>Vegetarianos</b>
                </h5>
                <small class="white-text light-text">Restaurantes veganos</small>
                <small class="white-text light-text">Restaurantes vegetarianos</small>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20vw">
                <h5 class="white-text light-text">
                    <b>Vegetarianos</b>
                </h5>
                <small class="white-text light-text">Restaurantes veganos</small>
                <small class="white-text light-text">Restaurantes vegetarianos</small>
            </div>
        </div>
        <br>
        <div fxLayout="row" fxFill>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20vw">
                <h5 class="white-text light-text">
                    <b>Vegetarianos</b>
                </h5>
                <small class="white-text light-text">Restaurantes veganos</small>
                <small class="white-text light-text">Restaurantes vegetarianos</small>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20vw">
                <h5 class="white-text light-text">
                    <b>Vegetarianos</b>
                </h5>
                <small class="white-text light-text">Restaurantes veganos</small>
                <small class="white-text light-text">Restaurantes vegetarianos</small>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20vw">
                <h5 class="white-text light-text">
                    <b>Vegetarianos</b>
                </h5>
                <small class="white-text light-text">Restaurantes veganos</small>
                <small class="white-text light-text">Restaurantes vegetarianos</small>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20vw">
                <h5 class="white-text light-text">
                    <b>Vegetarianos</b>
                </h5>
                <small class="white-text light-text">Restaurantes veganos</small>
                <small class="white-text light-text">Restaurantes vegetarianos</small>
            </div>
        </div>
    </div>
</div>
<div class="home-section ichoose-theme gradient-gray-background" fxLayout="row" fxLayoutAlign="start center" fxFill>
    <div fxFlex="50vw" class="half-background-1" fxLayoutAlign="end end" fxShow.gt-sm="true" fxShow.xs="false">
        <img src="../../content/images/phone.png" class="full-height-image">
    </div>
    <div fxFlex.gt-sm="50vw" fxFlex.xs="100vw" fxLayout="column" class="layout-horizontal-padding">
        <h1 class="white-text">Descargá iChoose
            <br>en tu celular</h1>
        <div fxLayout="row">
            <img src="../../content/images/android-download.png" class="so-download">
            <img src="../../content/images/ios-download.png" class="so-download">
        </div>
        <h3 class="orange-text">Consultanos</h3>
        <div fxLayout="row">
            <mat-form-field fxFlex="45%">
                <input matInput type="text" placeholder="Nombre">
            </mat-form-field>
            <mat-form-field fxFlex="50%" fxFlexOffset="5%">
                <input matInput type="email" placeholder="Email">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFill>
                <input matInput type="text" placeholder="Consulta">
            </mat-form-field>
        </div>
        <br>
        <div fxLayout="row">
            <div fxLayout="start center" fxLayout="row">

                <button mat-mini-fab color="primary">
                    <small class="fa fa-facebook"></small>
                </button>
                <span>&nbsp;</span>
                <button mat-mini-fab color="primary">
                    <small class="fa fa-twitter"></small>
                </button>
                <span>&nbsp;</span>
                <button mat-mini-fab color="primary">
                    <small class="fa fa-instagram"></small>
                </button>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" fxFlex="80%" >
                <button mat-raised-button color="primary">CONSULTAR</button>
            </div>
        </div>
    </div>
</div>