
/* ==========================================================================
Main page styles
========================================================================== */
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}

.landing-page {
    width: 100vw;
    overflow: hidden;
    height: calc(100vh +  65px);
    background: url("../../content/images/landing-page.jpg") no-repeat center top;
    background-size: cover;
    margin-top: -65px;
    img{
        width: 70vw;
        max-width: 350px;
        padding-top: 25vh;
    }
    label{
        color: white;
        font-size: 12px;
        margin-bottom: 5px;
    }
    input{
        border: none;
        padding-left: 9px;
        line-height: 2.2em;
        outline: none;
    }
    .input-container{
        margin-top: -20px;
    }
}
.home-section{
    overflow: hidden;
    min-height: 100vh !important;
    height: fit-content;
}

.so-download{
    width: 150px;    
    height: 50px;
    margin-right: 25px;
}

.half-background-1{
    background: url("../../content/images/restaurant-background-1.png");
    background-size: cover;
    height: 100vh;
    .full-height-image{
        height: 75vh;
        position: absolute;
        right: 43vw;
    }
}
.layout-horizontal-padding{
    padding-left: 5vw;
    padding-right: 10vw;
}
.footer-img{
    width: 80px;
    height: 30px;
}

form{
    button{
        margin-top: 15px;
    }
}

@media (max-width: 400px) {
    .so-download{
        width: 120px;    
        height: 40px;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    form{
        div{
            width: 70vw;
        }
        button{
            margin-top: 0px;
        }
    }
    .landing-page {
        img{
            padding-top: 18vh;
        }
    }
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    
}
