<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons orange-text">close</mat-icon>
</button>
<div fxLayout="column" fxLayoutAlign="center center" fxFill>
    <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
        <h1 class="orange-text">¡Bienvenido!</h1>
    </mat-dialog-title>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h3 class="gray-text light-text">¡Se ha registrado correctamente!</h3>
    </div>
    <mat-dialog-actions fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" tabindex="-1" mat-dialog-close
            [routerLink]="['../restaurant-new']">REGISTRE SU PRIMER RESTAURANTE</button>
    </mat-dialog-actions>
</div>
