
<div *ngIf="promotionItem">
    <h2><span jhiTranslate="ichooseApp.promotionItem.detail.title">Promotion Item</span> {{promotionItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.promotionItem.quantity">Quantity</span></dt>
        <dd>
            <span>{{promotionItem.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.promotionItem.promotion">Promotion</span></dt>
        <dd>
            <div *ngIf="promotionItem.promotionId">
                <a [routerLink]="['/promotion', promotionItem.promotionId]">{{promotionItem.promotionId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.promotionItem.menu">Menu</span></dt>
        <dd>
            <div *ngIf="promotionItem.menuId">
                <a [routerLink]="['/menu', promotionItem.menuId]">{{promotionItem.menuId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'promotion-item/'+ promotionItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
