<div>
    <h2>
        <span jhiTranslate="ichooseApp.stayOrder.home.title">Stay Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-stay-order" [routerLink]="['/', { outlets: { popup: ['stay-order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.stayOrder.home.createLabel">
            Create new Stay Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.stayOrder.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stayOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="ichooseApp.stayOrder.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="released"><span jhiTranslate="ichooseApp.stayOrder.released">Released</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="ichooseApp.stayOrder.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stayId"><span jhiTranslate="ichooseApp.stayOrder.stay">Stay</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="menuId"><span jhiTranslate="ichooseApp.stayOrder.menu">Menu</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stayOrder of stayOrders ;trackBy: trackId">
                <td><a [routerLink]="['../stay-order', stayOrder.id ]">{{stayOrder.id}}</a></td>
                <td>{{stayOrder.quantity}}</td>
                <td>{{stayOrder.released | date:'medium'}}</td>
                <td>{{stayOrder.price}}</td>
                <td>
                    <div *ngIf="stayOrder.stayId">
                        <a [routerLink]="['../stay', stayOrder.stayId  ]" >{{stayOrder.stayId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stayOrder.menuId">
                        <a [routerLink]="['../menu', stayOrder.menuId  ]" >{{stayOrder.menuId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stay-order', stayOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stay-order/'+ stayOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stay-order/'+ stayOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="stayOrders && stayOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
