
<div *ngIf="stayOrder">
    <h2><span jhiTranslate="ichooseApp.stayOrder.detail.title">Stay Order</span> {{stayOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.stayOrder.quantity">Quantity</span></dt>
        <dd>
            <span>{{stayOrder.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.stayOrder.released">Released</span></dt>
        <dd>
            <span>{{stayOrder.released | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.stayOrder.price">Price</span></dt>
        <dd>
            <span>{{stayOrder.price}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.stayOrder.stay">Stay</span></dt>
        <dd>
            <div *ngIf="stayOrder.stayId">
                <a [routerLink]="['/stay', stayOrder.stayId]">{{stayOrder.stayId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.stayOrder.menu">Menu</span></dt>
        <dd>
            <div *ngIf="stayOrder.menuId">
                <a [routerLink]="['/menu', stayOrder.menuId]">{{stayOrder.menuId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stay-order/'+ stayOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
