<div class="main-container">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text">Grupos</h3>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
            <!--<button type="submit" mat-button mat-raised-button [routerLink]="['/', { outlets: { popup: ['clientGroup-new'] } }]">-->
                <!--<span jhiTranslate="ichooseApp.clientGroup.home.createLabel">Create new clientGroup</span>-->
            <!--</button>-->
        </div>
    </mat-toolbar>
    <div class="padding-panel">
        <div fxFill fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput (keyup)="search($event.target.value)" placeholder="Buscar Grupo">
            </mat-form-field>
        </div>
        <br>
        <div fxFill fxLayout="row" fxLayoutAlign="center centere" fxFill>
            <mat-table #table [dataSource]="dataSource" fxFlex="70%">
                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.clientGroup.name" class="center-text">Name</mat-header-cell>
                    <mat-cell *matCellDef="let clientGroup" class="center-text"> {{clientGroup.name}} </mat-cell>
                </ng-container>

                <!-- tables peopleNumber -->
                <ng-container matColumnDef="peopleNumber">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="ichooseApp.clientGroup.peopleNumber" class="center-text">Cantidad de personas</mat-header-cell>
                    <mat-cell *matCellDef="let clientGroup" class="center-text"> {{clientGroup.people ? clientGroup.people.length : 0}} </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef jhiTranslate="entity.action.options" class="center-text"> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let clientGroup">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-icon-button [routerLink]="['../client-group', clientGroup.id ]">
                              <small class="material-icons" matTooltip="Ver">remove_red_eye</small>
                            </button>
                            <button mat-icon-button type="submit" [routerLink]="['/', { outlets: { popup: 'client-group/'+ clientGroup.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge">
                                <mat-icon class="material-icons" matTooltip="Editar">mode_edit</mat-icon>
                            </button>
                            <button mat-icon-button type="submit" [routerLink]="['/', { outlets: { popup: 'client-group/'+ clientGroup.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge">
                                <mat-icon class="material-icons" matTooltip="Borrar">delete</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>
<!--<div>
    <h2>
        <span jhiTranslate="ichooseApp.clientGroup.home.title">Client Groups</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-group" [routerLink]="['/', { outlets: { popup: ['client-group-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.clientGroup.home.createLabel">
            Create new Client Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.clientGroup.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientGroups">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="ichooseApp.clientGroup.name">Name</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientGroup of clientGroups ;trackBy: trackId">
                <td><a [routerLink]="['../client-group', clientGroup.id ]">{{clientGroup.id}}</a></td>
                <td>{{clientGroup.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-group', clientGroup.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-group/'+ clientGroup.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-group/'+ clientGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientGroups && clientGroups.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>-->