<button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
    <mat-icon class="material-icons orange-text">close</mat-icon>
</button>
<div class="ichoose-theme">
    <mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
        <h3>{{clientGroup.name}}</h3>
    </mat-dialog-title>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h4 class="gray-text light-text" jhiTranslate="ichooseApp.clientGroup.delete.question"></h4>
    </div>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-raised-button class="ichoose-theme" color="primary" tabindex="-1" (click)="confirmDelete(clientGroup.id)">
            <span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </mat-dialog-actions>
</div>
<!--<form name="deleteForm" (ngSubmit)="confirmDelete(clientGroup.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="ichooseApp.clientGroup.delete.question" translateValues="{id: '{{clientGroup.id}}'}">Are you sure you want to delete this Client Group?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>-->