<div class="main-container" *ngIf="clientGroup">
    <mat-toolbar class="sub-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="orange-text">{{clientGroup.name}}</h3>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
            <button type="submit" mat-button mat-raised-button *ngIf="!editMode" (click)="activateEdit()">
                <span>Editar</span>
            </button>
            <button type="submit" mat-button mat-raised-button *ngIf="editMode" (click)="cancel()">
                <span>Cancelar</span>
            </button>
            <button type="submit" fxFlexOffset="3%" mat-button mat-raised-button *ngIf="editMode" (click)="save()">
                <span>Guardar</span>
            </button>
        </div>
    </mat-toolbar>
    <div class="padding-panel">
        <div fxLayout="row" fxFill fxLayoutAlign="center center" *ngIf="editMode">
            <mat-form-field fxFlex="300px">
                <input id="field_clientTable" matInput placeholder="{{ 'ichooseApp.client.home.title' | translate }}" name="client" [matAutocomplete]="auto"
                    [(ngModel)]="selectedClient" [formControl]="clientCtrl">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let client of clientsToAdd | async" [value]="client">
                        <img *ngIf="client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png">
                        <img *ngIf="client.picture" class="avatar" [src]="'data:' + client.picture.contentType + ';base64,' + client.picture.content"
                            style="max-width: 100%;" alt="picture image" />
                        <small *ngIf="client.firstName != null" class="option-text">&nbsp; {{ client.firstName }} {{ client.lastName }} </small>
                        <small *ngIf="client.firstName == null" class="option-text">&nbsp; {{ client.login }} </small>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button type="submit" fxFlex="100px" fxFlexOffset="20px" class="ichoose-theme" color="primary" mat-button mat-raised-button (click)="agregarCliente()">
                <span>AGREGAR</span>
            </button>
        </div>
        <div fxLayout="row" fxFill fxLayoutAlign="center center">
            <mat-list role="list">
                <mat-list-item role="listitem" fxLayout="row" class="listItem">
                    <div fxFlex="7%" fxLayout="row wrap" fxLayoutAlign="start center">
                    </div>
                    <div fxFlex="30%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small>
                            <b>Nombre y apellido</b>
                        </small>
                    </div>
                    <div fxFlex="10%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small>
                            <b>Nacionalidad</b>
                        </small>
                    </div>
                    <div fxFlex="15%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small>
                            <b>Fecha de nacimiento</b>
                        </small>
                    </div>
                    <div fxFlex="25%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small>
                            <b>Email</b>
                        </small>
                    </div>
                    <div fxFlex="18%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small>
                            <b>Teléfono</b>
                        </small>
                    </div>
                    <div fxFlex="5%"></div>
                </mat-list-item>
                <mat-divider class="listItem"></mat-divider>
            </mat-list>
        </div>
        <div fxLayout="row" fxFill fxLayoutAlign="center center">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let client of clientGroup.people" fxLayout="row" class="listItem">
                    <div fxFlex="7%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <img *ngIf="client.picture == null" class="avatar" src="../../../content/images/profile-picture-icon.png">
                        <img *ngIf="client.picture" class="avatar" [src]="'data:' + client.picture.contentType + ';base64,' + client.picture.content"
                            style="max-width: 100%;" alt="picture image" />
                    </div>
                    <div fxFlex="30%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small *ngIf="client.firstName != null">{{client.firstName}} {{client.lastName}}</small>
                        <small *ngIf="client.firstName == null">{{client.login}}</small>
                    </div>
                    <div fxFlex="10%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div *ngIf="client.nationality != null" matTooltip="{{client.nationality.nameEn}}" style="margin-left: 30px;">
                            <small class="flag-icon flag-icon-{{client.nationality.iso2 | lowercase}}"></small>
                        </div>
                    </div>
                    <div fxFlex="15%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small> {{client.birthdate | date: 'dd/MM/yyyy'}} </small>
                    </div>
                    <div fxFlex="25%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small>{{client.email}}</small>
                    </div>
                    <div fxFlex="18%" fxLayout="row wrap" fxLayoutAlign="start center">
                        <small>{{client.telephoneNumber}}</small>
                    </div>
                    <div fxFlex="5%">
                        <button mat-icon-button (click)="removePeople(client)" *ngIf="editMode">
                            <i class="material-icons">
                                close
                            </i>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
<!--
<div *ngIf="clientGroup">
    <h2><span jhiTranslate="ichooseApp.clientGroup.detail.title">Client Group</span> {{clientGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.clientGroup.name">Name</span></dt>
        <dd>
            <span>{{clientGroup.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-group/'+ clientGroup.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
-->