<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <button mat-icon-button mat-dialog-close class="close-button" tabindex="-1">
        <mat-icon class="material-icons">close</mat-icon>
    </button>
    <div fxLayout="column" fxLayoutAlign="center center" fxFill class="ichoose-theme">
        <mat-dialog-title fxLayout="column" fxLayoutAlign="center center">
            <h4 jhiTranslate="ichooseApp.clientGroup.detail.title">Client group</h4>
        </mat-dialog-title>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field fxFill>
                <input matInput type="text" placeholder="{{ 'ichooseApp.clientGroup.name' | translate }}" class="form-control" name="nameCtrl"
                    id="field_name" [(ngModel)]="clientGroup.name" required/>
            </mat-form-field>
        </div>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button class="ichoose-theme" color="accent" tabindex="-1" mat-dialog-close (click)="clear()">
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" mat-button mat-raised-button [disabled]="editForm.form.invalid || isSaving "
                tabindex="-1" (click)="save()" color="primary">
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </mat-dialog-actions>
    </div>
</form>