
<div *ngIf="taxBillItem">
    <h2><span jhiTranslate="ichooseApp.taxBillItem.detail.title">Tax Bill Item</span> {{taxBillItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.taxBillItem.aliciva">Aliciva</span></dt>
        <dd>
            <span>{{taxBillItem.aliciva}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillItem.importe">Importe</span></dt>
        <dd>
            <span>{{taxBillItem.importe}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillItem.ds">Ds</span></dt>
        <dd>
            <span>{{taxBillItem.ds}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillItem.qty">Qty</span></dt>
        <dd>
            <span>{{taxBillItem.qty}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillItem.stay">Stay</span></dt>
        <dd>
            <div *ngIf="taxBillItem.stayId">
                <a [routerLink]="['/stay', taxBillItem.stayId]">{{taxBillItem.stayId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBillItem.taxBill">Tax Bill</span></dt>
        <dd>
            <div *ngIf="taxBillItem.taxBillId">
                <a [routerLink]="['/tax-bill', taxBillItem.taxBillId]">{{taxBillItem.taxBillId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tax-bill-item/'+ taxBillItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
