<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaxBillItemLabel" jhiTranslate="ichooseApp.taxBillItem.home.createOrEditLabel">Create or edit a Tax Bill Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!taxBillItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="taxBillItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillItem.aliciva" for="field_aliciva">Aliciva</label>
            <input type="number" class="form-control" name="aliciva" id="field_aliciva"
                [(ngModel)]="taxBillItem.aliciva" required/>
            <div [hidden]="!(editForm.controls.aliciva?.dirty && editForm.controls.aliciva?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.aliciva?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.aliciva?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillItem.importe" for="field_importe">Importe</label>
            <input type="number" class="form-control" name="importe" id="field_importe"
                [(ngModel)]="taxBillItem.importe" required/>
            <div [hidden]="!(editForm.controls.importe?.dirty && editForm.controls.importe?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.importe?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.importe?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillItem.ds" for="field_ds">Ds</label>
            <input type="text" class="form-control" name="ds" id="field_ds"
                [(ngModel)]="taxBillItem.ds" required/>
            <div [hidden]="!(editForm.controls.ds?.dirty && editForm.controls.ds?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ds?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillItem.qty" for="field_qty">Qty</label>
            <input type="number" class="form-control" name="qty" id="field_qty"
                [(ngModel)]="taxBillItem.qty" required/>
            <div [hidden]="!(editForm.controls.qty?.dirty && editForm.controls.qty?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.qty?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.qty?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillItem.stay" for="field_stay">Stay</label>
            <select class="form-control" id="field_stay" name="stay" [(ngModel)]="taxBillItem.stayId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="stayOption.id" *ngFor="let stayOption of stays; trackBy: trackStayById">{{stayOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.taxBillItem.taxBill" for="field_taxBill">Tax Bill</label>
            <select class="form-control" id="field_taxBill" name="taxBill" [(ngModel)]="taxBillItem.taxBillId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="taxBillOption.id" *ngFor="let taxBillOption of taxbills; trackBy: trackTaxBillById">{{taxBillOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
