<div>
    <h2>
        <span jhiTranslate="ichooseApp.taxBillItem.home.title">Tax Bill Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-tax-bill-item" [routerLink]="['/', { outlets: { popup: ['tax-bill-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.taxBillItem.home.createLabel">
            Create new Tax Bill Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.taxBillItem.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="taxBillItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="aliciva"><span jhiTranslate="ichooseApp.taxBillItem.aliciva">Aliciva</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="importe"><span jhiTranslate="ichooseApp.taxBillItem.importe">Importe</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ds"><span jhiTranslate="ichooseApp.taxBillItem.ds">Ds</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="qty"><span jhiTranslate="ichooseApp.taxBillItem.qty">Qty</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stayId"><span jhiTranslate="ichooseApp.taxBillItem.stay">Stay</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxBillId"><span jhiTranslate="ichooseApp.taxBillItem.taxBill">Tax Bill</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taxBillItem of taxBillItems ;trackBy: trackId">
                <td><a [routerLink]="['../tax-bill-item', taxBillItem.id ]">{{taxBillItem.id}}</a></td>
                <td>{{taxBillItem.aliciva}}</td>
                <td>{{taxBillItem.importe}}</td>
                <td>{{taxBillItem.ds}}</td>
                <td>{{taxBillItem.qty}}</td>
                <td>
                    <div *ngIf="taxBillItem.stayId">
                        <a [routerLink]="['../stay', taxBillItem.stayId  ]" >{{taxBillItem.stayId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="taxBillItem.taxBillId">
                        <a [routerLink]="['../tax-bill', taxBillItem.taxBillId  ]" >{{taxBillItem.taxBillId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tax-bill-item', taxBillItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-bill-item/'+ taxBillItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-bill-item/'+ taxBillItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="taxBillItems && taxBillItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
