
<div *ngIf="menuClassification">
    <h2><span jhiTranslate="ichooseApp.menuClassification.detail.title">Menu Classification</span> {{menuClassification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.menuClassification.name">Name</span></dt>
        <dd>
            <span>{{menuClassification.name}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.menuClassification.subclassifications">Subclassifications</span></dt>
        <dd>
            <span *ngFor="let subclassifications of menuClassification.subclassifications; let last = last">
                <a [routerLink]="['/menu-subclassification', subclassifications?.id ]">{{subclassifications.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'menu-classification/'+ menuClassification.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
