
<div *ngIf="role">
    <h2><span jhiTranslate="ichooseApp.role.detail.title">Role</span> {{role.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.role.type">Type</span></dt>
        <dd>
            <span>{{role.type}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.role.login">Login</span></dt>
        <dd>
            <span>{{role.login}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.role.restaurant">Restaurant</span></dt>
        <dd>
            <div *ngIf="role.restaurantId">
                <a [routerLink]="['/restaurant', role.restaurantId]">{{role.restaurantId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'role/'+ role.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
