body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: 'ichooseFont';
    src: /* url('myfont.woff') format('woff'), Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('../fonts/RemachineScript_Personal_Use.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

/**************************************
Start Home styles
**************************************/
.home-overrides{
    font-size: 0.9em;
    .mat-form-field-label{
        color: white;
    }
    .mat-input-underline{
        display: none;
    }
    .mat-input-element{
        font-size: 12px;
        padding: 6px;
        background-color: white;
        height: 20px;
    }
    .mat-raised-button{
        margin-top: -7px;
    }
    form{
        width: 80vw;
    }
    .material-icons{
        color: white;
        font-size: 30px;
    }
}

.small-menu-item.mat-menu-item{
    font-size: 12px !important;
}

mat-dialog-container.mat-dialog-container{
    max-height: 90vh !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.medium-dialog{
    width: 700px;
}

.small-dialog{
    width: 500px;
}

.popUpTitle{
    font-family: 'ichooseFont';
    font-size: 45px;
    font-weight: 200;
}

.gradient-gray-background{
    .mat-form-field-label{
        color: white;
    }
    .mat-input-underline, .mat-form-field-ripple{
        background-color: white;
    }
    .mat-input-element{
        font-size: 12px;
        padding: 6px;
        height: 20px;
    }
    box-sizing: border-box;
    background: #9e9e9e; /* Old browsers */
    background: -moz-linear-gradient(45deg, #9e9e9e 0%, #a3a3a3 27%, #b2b2b2 52%, #c2c2c2 76%, #c2c2c2 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #9e9e9e 0%,#a3a3a3 27%,#b2b2b2 52%,#c2c2c2 76%,#c2c2c2 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #9e9e9e 0%,#a3a3a3 27%,#b2b2b2 52%,#c2c2c2 76%,#c2c2c2 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#c2c2c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient-orange-background{
    padding: 10vh 15vw 10vh 15vw;
    box-sizing: border-box;
    background: #e77f04; /* Old browsers */
    background: -moz-linear-gradient(45deg, #e77f04 0%, #e77f04 34%, #f5b60a 70%, #f5b60a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #e77f04 0%,#e77f04 34%,#f5b60a 70%,#f5b60a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #e77f04 0%,#e77f04 34%,#f5b60a 70%,#f5b60a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e77f04', endColorstr='#f5b60a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
    h5{
        margin: 1em 0px;
    }
}
/**************************************
Finish Home styles
**************************************/


.mat-menu-panel.notification-menu{
    width: 360px !important;
    max-width: 360px !important;
    .mat-menu-item:hover:not([disabled]){
        background-color: transparent !important;
    }
}


mat-toolbar{
    .mat-form-field{
      font-size: 0.7em !important;
    }
    &.main-toolbar{
        .mat-form-field-underline{
          background-color: white;
        }
        .mat-form-field-label{
          color: white !important;
        }
        .mat-focused{
            .mat-form-field-ripple{
                background-color: white;
            }
        }
    }
}
.white-line{
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 30px 0px;
    display: block;
}
.sub-toolbar{
    background-color: #e6e6e6;
    .mat-button.mat-raised-button{
      background-color: #5a5a5a;
      color: #fff;
      &:disabled{
        background-color: #908f8f;
      }
    }
}

.status-chips .mat-chip-list-wrapper mat-chip{
    margin: auto !important;
  }

.mat-button.dark-button{
    background-color: #5a5a5a !important;
    color: #fff !important;
    &:disabled{
        background-color: #908f8f !important;
    }
}
.mat-cell{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.action-cell{
        overflow: visible !important;
    }
}
.small-icon{
    font-size: 16px !important;
    height: 16px;
}
.mat-success{
    background-color: #8ccc25 !important;
    color: white !important;
}
.mat-success-text{
    color: #8ccc25 !important;
}
.mat-info{
    background-color: #0b97da !important;
    color: white !important;
}
.mat-warn-text{
    color: #f72819 !important;
}
.mat-info-text{
    color: #0b97da !important;
}
.main-container{
    min-height: calc(100vh - 139px);
}
.padding-panel{
    padding: 25px;
}
.recuadro{
    border: 2px dashed gray;
}
.images-panel{
    height: 373px;
    .icon-lg{
      font-size: 50px;
    }
}
.mat-drawer-content{
    overflow: hidden !important;
}
.mat-dialog-container{
    position: relative;
    padding: 8px;
    .close-button{
        position: absolute;
        top: 0px;
        right: 0px;
        .mat-icon{
            font-size: 18px;
        }
    }
}

.light-text{
    font-weight: 400;
}

.regular-text{
    font-weight: 500;
}
a{
    cursor: pointer;
}

.mat-paginator {
    background: transparent !important; 
}

.white-text{
    color: white;
}
.gray-text{
    color: gray;
}
.orange-text{
    color: #E77F04;
}
.light-text{
    font-weight: 400;
}
.center-text{
    text-align: center;
}
.footer{
    background-color: black;
    color: white;
    height: 75px !important;
}
.mat-simple-snackbar-action{
    color: #e77f04;
}

.mat-tab-label{
    min-width: 100px !important;
}

.full-width{
    width: 100%;
}
.mat-list-item-content{
    width: 100% !important;
  }
.spinner-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* jhipster-needle-scss-add-main JHipster will add new css style */