@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$mat-primary: (
    50: #ffffff,
    100: #ffed8e,
    200: #ffd073,
    300: #ffb558,
    400: #ff993e ,
    500: #e57f22,
    600: #c66546,
    700: #c66546,
    800: #c66546,
    900: #c66546,
    A100: transparent,
    A200: transparent,
    A400: transparent,
    A700: transparent,
    contrast: (
      50: #333,
      100: #333,
      200: #333,
      300: #333,
      400: #333,
      500: white,
      600: #333,
      700: #333,
      800: #333,
      900: #333,
      A100: #333,
      A200: #333,
      A400: #333,
      A700: #333,
    )
);
$mat-accent: (
    50: #7f7f7f,
    100: #727272,
    200: #666666,
    300: #595959,
    400: #4C4C4C,
    500: #3F3F3F,
    600: #333333,
    700: #262626,
    800: #191919,
    900: #000000,
    A100: transparent,
    A200: transparent,
    A400: transparent,
    A700: transparent,
    contrast: (
      50: #333,
      100: #333,
      200: #333,
      300: #333,
      400: #333,
      500: white,
      600: #333,
      700: #333,
      800: #333,
      900: #333,
      A100: #333,
      A200: #333,
      A400: #333,
      A700: #333,
    )
);

$mat-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$ichoose-primary: mat-palette($mat-primary);
$ichoose-accent:  mat-palette($mat-accent);
$ichoose-warn:    mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$ichoose-theme: mat-light-theme($ichoose-primary, $ichoose-accent, $ichoose-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ichoose-theme);