@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$mat-transparent: (
    50: transparent,
    100: transparent,
    200: transparent,
    300: transparent,
    400: transparent,
    500: transparent,
    600: transparent,
    700: transparent,
    800: transparent,
    900: transparent,
    A100: transparent,
    A200: transparent,
    A400: transparent,
    A700: transparent,
    contrast: (
      50: #333,
      100: #333,
      200: #333,
      300: #333,
      400: #333,
      500: white,
      600: #333,
      700: #333,
      800: #333,
      900: #333,
      A100: #333,
      A200: #333,
      A400: #333,
      A700: #333,
    )
  );
$transparent-primary: mat-palette($mat-transparent);
$transparent-accent:  mat-palette($mat-blue-grey);
$transparent-warn:    mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
$transparent-theme: mat-light-theme($transparent-primary, $transparent-accent, $transparent-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($transparent-theme);