<div>
    <h2>
        <span jhiTranslate="ichooseApp.taxBill.home.title">Tax Bills</span>
        <button class="btn btn-primary float-right jh-create-entity create-tax-bill" [routerLink]="['/', { outlets: { popup: ['tax-bill-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="ichooseApp.taxBill.home.createLabel">
            Create new Tax Bill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ichooseApp.taxBill.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="taxBills">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxbillnumber"><span jhiTranslate="ichooseApp.taxBill.taxbillnumber">Taxbillnumber</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="domiciliocliente"><span jhiTranslate="ichooseApp.taxBill.domiciliocliente">Domiciliocliente</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipodoc"><span jhiTranslate="ichooseApp.taxBill.tipodoc">Tipodoc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombrecliente"><span jhiTranslate="ichooseApp.taxBill.nombrecliente">Nombrecliente</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipocbte"><span jhiTranslate="ichooseApp.taxBill.tipocbte">Tipocbte</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tiporesponsable"><span jhiTranslate="ichooseApp.taxBill.tiporesponsable">Tiporesponsable</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taxBill of taxBills ;trackBy: trackId">
                <td><a [routerLink]="['../tax-bill', taxBill.id ]">{{taxBill.id}}</a></td>
                <td>{{taxBill.taxbillnumber}}</td>
                <td>{{taxBill.domiciliocliente}}</td>
                <td>{{taxBill.tipodoc}}</td>
                <td>{{taxBill.nombrecliente}}</td>
                <td>{{taxBill.tipocbte}}</td>
                <td>{{taxBill.tiporesponsable}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tax-bill', taxBill.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-bill/'+ taxBill.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-bill/'+ taxBill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="taxBills && taxBills.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
