<h3 fxLayout="column" fxLayoutAlign="center center">
    Facturación</h3>

    <br>
<small class="gray-text regular-text">COMPROBANTES</small>
<br>

<br> 
<mat-table #tableBill [dataSource]="dataSourceBills" fxFill>
    <ng-container matColumnDef="Fecha">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.taxBill.date"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            {{item.billDate | date:'dd/MM/yyyy HH:mm'}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Tipo">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.taxBill.type"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
           {{item.tipocbte}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Numero">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.taxBill.number"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            {{item.taxbillnumber}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Monto">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.taxBill.amount"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
           ${{item.amount | number: '1.2-2'}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="NotaCredito">
            <mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="ichooseApp.taxBill.creditNote"></span>
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                
               <button type="submit" mat-button mat-raised-button color="accent" (click)="mapToCreditNote(item)" *ngIf="item.tipocbte != 'T' && item.tipocbte != 'NCB' && item.tipocbte != 'NCA' && !hasCreditNote(item) ">Nota de credito</button>
            </mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsBills"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsBills;"></mat-row>
</mat-table>
<br>

<div *ngIf="isEnabledToPrintTaxBill()">

<br>
<small class="gray-text regular-text">NUEVA FACTURA</small>
<br>

<div fxLayout="row" fxLayoutAlign="space-around center">

    <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field *ngIf="taxBill.tipocbte">
            <mat-select placeholder="Tipo de responsable" [(value)]="taxBill.tiporesponsable">
                <mat-option *ngFor="let type of tipoResponsables" [value]="type.value">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Tipo de comprobante" (change)="showFunction()" [(value)]="taxBill.tipocbte">
                <mat-option *ngFor="let type of tipoComprobantes" [value]="type.value">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div *ngIf="vali" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
            <mat-select placeholder="Tipo de documento" [(ngModel)]="taxBill.tipodoc">
                <mat-option *ngFor="let type of tipoDocumentos" [value]="type.value">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="DNI/CUIT">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="{{'ichooseApp.taxBill.clientName' | translate}}" [(ngModel)]="taxBill.nombrecliente">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="{{'ichooseApp.taxBill.addressclient' | translate}}" [(ngModel)]="taxBill.domiciliocliente">
        </mat-form-field>
    </div>
</div>


<br>
<small class="gray-text regular-text">LISTA DE ITEMS</small>
<br>
<mat-table #table [dataSource]="dataSourceTax" fxFill>
    <ng-container matColumnDef="Cantidad">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.stay.quantity"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.qty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.menu.name"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            {{item.ds}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Precio unitario">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.stay.unitPrice"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            ${{ item.importe | number:'1.2-2' }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Precio total">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.stay.totalPrice"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            ${{item.importe * item.qty | number: '1.2-2'}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-divider></mat-divider>
<mat-divider></mat-divider>

<br>
<small class="gray-text regular-text">
    <span jhiTranslate="ichooseApp.taxBill.promotions"></span>
</small>
<br>

<mat-table #table1 [dataSource]="dataSource" fxFill>


    <ng-container matColumnDef="iva">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.taxBill.iva"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
        {{item.iva}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.taxBill.description"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            {{item.description}}
        </mat-cell>
    </ng-container>

  <ng-container matColumnDef="Descuento">
        <mat-header-cell *matHeaderCellDef>
            <span jhiTranslate="ichooseApp.taxBill.discount"></span>
        </mat-header-cell>
            <mat-cell *matCellDef="let item"> $-{{item.amount | number: '1.2-2'}} </mat-cell>
        </ng-container>

  
    <mat-header-row *matHeaderRowDef="displayedColumnsPromotion"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsPromotion;"></mat-row>
</mat-table>

<mat-divider></mat-divider>
<mat-divider></mat-divider>

<br>
<br>

<!-- <div fxLayout= "row" fxLayoutAlign="start center" > -->

<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayour= "row" fxLayoutAlign="start center">
    <span>TOTAL: &nbsp;&nbsp;</span>
    <h2> $ {{taxBill.amount | number: '1.2-2' }}</h2>
    </div>
  <!-- </div> -->

<!-- <div fxLayout="column" fxLayoutAlign="start end"> -->
    <button type="submit" mat-button mat-raised-button tabindex="-1" [disabled]="isPrinting || !isEnabledToPrintTaxBill()" (click)="printFiscalTicket()" color="primary">
        <span jhiTranslate="ichooseApp.taxBill.bill"></span>
    </button>
<!-- </div> -->
</div>

</div>