
<div *ngIf="taxBill">
    <h2><span jhiTranslate="ichooseApp.taxBill.detail.title">Tax Bill</span> {{taxBill.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.taxBill.taxbillnumber">Taxbillnumber</span></dt>
        <dd>
            <span>{{taxBill.taxbillnumber}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBill.domiciliocliente">Domiciliocliente</span></dt>
        <dd>
            <span>{{taxBill.domiciliocliente}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBill.tipodoc">Tipodoc</span></dt>
        <dd>
            <span>{{taxBill.tipodoc}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBill.nombrecliente">Nombrecliente</span></dt>
        <dd>
            <span>{{taxBill.nombrecliente}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBill.tipocbte">Tipocbte</span></dt>
        <dd>
            <span>{{taxBill.tipocbte}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.taxBill.tiporesponsable">Tiporesponsable</span></dt>
        <dd>
            <span>{{taxBill.tiporesponsable}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tax-bill/'+ taxBill.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
