
<div *ngIf="promotionShipping">
    <h2><span jhiTranslate="ichooseApp.promotionShipping.detail.title">Promotion Shipping</span> {{promotionShipping.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ichooseApp.promotionShipping.dateTimeShipping">Date Time Shipping</span></dt>
        <dd>
            <span>{{promotionShipping.dateTimeShipping | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ichooseApp.promotionShipping.promotion">Promotion</span></dt>
        <dd>
            <div *ngIf="promotionShipping.promotionId">
                <a [routerLink]="['/promotion', promotionShipping.promotionId]">{{promotionShipping.promotionId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ichooseApp.promotionShipping.group">Group</span></dt>
        <dd>
            <div *ngIf="promotionShipping.groupId">
                <a [routerLink]="['/client-group', promotionShipping.groupId]">{{promotionShipping.groupId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'promotion-shipping/'+ promotionShipping.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
