<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPromotionShippingLabel" jhiTranslate="ichooseApp.promotionShipping.home.createOrEditLabel">Create or edit a Promotion Shipping</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!promotionShipping.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="promotionShipping.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.promotionShipping.dateTimeShipping" for="field_dateTimeShipping">Date Time Shipping</label>
            <div class="d-flex">
                <input id="field_dateTimeShipping" type="datetime-local" class="form-control" name="dateTimeShipping" [(ngModel)]="promotionShipping.dateTimeShipping"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.promotionShipping.promotion" for="field_promotion">Promotion</label>
            <select class="form-control" id="field_promotion" name="promotion" [(ngModel)]="promotionShipping.promotionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="promotionOption.id" *ngFor="let promotionOption of promotions; trackBy: trackPromotionById">{{promotionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ichooseApp.promotionShipping.group" for="field_group">Group</label>
            <select class="form-control" id="field_group" name="group" [(ngModel)]="promotionShipping.groupId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientGroupOption.id" *ngFor="let clientGroupOption of clientgroups; trackBy: trackClientGroupById">{{clientGroupOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
