
/* ==========================================================================
Main page styles
========================================================================== */
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import '../../../content/scss/ichoose-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.ichoose-theme {  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($ichoose-theme);
}

.login-background{
    background: url("../../../content/images/background-login.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    margin-top: -65px;
}

.ichoose-logo{
  width: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.card-content{
  padding: 0px 30px;
}

.orange-link, .orange-link:visited, .orange-link:hover{
  color: #E77F04;
}

.login-card{
  width: auto;
  max-width: 90vw;
}

.border-box{
  padding: 15px 20px 20px 20px;
  border: 1px solid #cccbcb;
  letter-spacing: 1px;
}

.alert{
  margin-bottom: 2vh;
  color:red;
}

@media (max-width: 600px) {
  .login-card{
    top: 5vh;
    min-height: 430px;
    padding-top: 0px;
  }
}