<div class="login-background" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="login-card">
        <md-card-title fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../content/images/ichoose-orange.png" class="ichoose-logo">
        </md-card-title>
        <mat-card-content class="card-content">
        <form class="form" role="form" (ngSubmit)="login()">
                <mat-form-field fxFill class="ichoose-theme" color="primary">
                    <input matInput type="text" [(ngModel)]="username" id="username" name="username" 
                        placeholder="{{'global.form.username.placeholder' | translate}}">
                </mat-form-field>
                <mat-form-field fxFill>
                    <input matInput type="password" id="password" name="password"
                            placeholder="{{'login.form.password.placeholder' | translate}}"
                        [(ngModel)]="password">
                    <!--<jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>-->
                </mat-form-field>

                <!-- Error login -->

                <div class="alert" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>

                <!-- fin error login -->
                <div fxLayout="row" fxFill>
                    <button mat-raised-button fxFill type="submit" class="ichoose-theme" color="primary">INICIAR SESIÓN</button>
                </div>
            </form>
      <!--      <br>
            <div class="border-box">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <small class="gray-text">Descargá iChoose</small>
                    <small class="gray-text">en tu celular</small>
                    <br>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxFill>
                    <img src="../../../content/images/android-download.png" fxFlex="100px">
                    <img src="../../../content/images/ios-download.png" fxFlex="100px" fxFlexOffset="20px">
                </div>
            </div>
            <br>-->
            <br>
            <br>
            <div fxLayout="column" fxLayoutAlign="center center" fxFill>
                <!--<div class="alert alert-warning">
                    <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
                </div>-->
                    <small jhiTranslate="global.messages.info.register.noaccount" class="gray-text">You don't have an account yet?</small>
                    <b><a class="orange-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a></b>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<!--<h4 jhiTranslate="login.title">Sign in</h4>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
    </div>
    <div class="col-md-8">
        <form class="form" role="form" (ngSubmit)="login()">
            <div class="form-group">
                <label for="username" jhiTranslate="global.form.username">Login</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                    [(ngModel)]="username">
            </div>
            <div class="form-group">
                <label for="password" jhiTranslate="login.form.password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                    [(ngModel)]="password">
            </div>
            <div class="form-check">
                <label class="form-check-label" for="rememberMe">
                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                    <span jhiTranslate="login.form.rememberme">Remember me</span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in</button>
        </form>
        <p></p>
        <div class="alert alert-warning">
            <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
        </div>
        <div class="alert alert-warning">
            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
            <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
    </div>
</div>-->